@import "bourbon";
@import "vars.scss";

@media (min-width: 768px) and (max-width: 991px){
  .text br {display: none}
  .item--margined{margin-left: 0px;}
  footer{
    .politics a{
      font-size: 13px;
    }
  }
  #sec_02{
    margin-top: -400px;
    padding-bottom: 140px;
    .header{margin:20px 0 60px;}
    .sec_img-1{
      width:100%;
      margin-top: 100px;
    }
  }
  #sec_03{
    padding-top: 60px;
    padding-bottom: 60px;
    .header_sm{margin-top:50px;}
    .col-9{text-align: center;}
    a{margin:10px 30px !important}
  }
  #sec_04{
    padding-top: 190px;
    .header{
      font-size: 52px;
      line-height: 52px;
    }
    .menu{
      margin-right: 0;
      margin-left: -160px;
      margin-top: 300px;
    }
    .first_row{
      .header{
        margin-bottom: 60px;
        margin-top: -60px;
      }
      .sec_img-1{margin-top: 90px;}
    }
    .second_row{
      .header{
        margin-top: 0px;
      }
      .header_sm{
        margin-top: 140px;
      }
      .item_70, .item_50{
        width: 180px;
      }
      .col-7{
        padding-left: 40px;
        padding-right: 0;
      }
    }
    .sec_img-1, .sec_img-2{width: 100%;}
  }
  #sec_05{
    background-repeat: no-repeat;
    background-position: top 190px left 115px;
    background-image: url(../img/sec_05-bg.png);
    .description{
      line-height: 40px;
    }
    .container {
        background: none;
    }
    .sec_img-1{
      width: 100%;
      margin-bottom: 160px;
    }
    .header_second{
      margin-top: 50px;
    }
  }
  #sec_06{
    padding-bottom: 100px;
    .visible_items{
      .big_img{display: none}
      .icons{display: block;}
    }
  }
  #sec_07{
    padding-bottom: 140px;
    background-image: url(../img/sec_07-bg_1200.png);
    .item-1{
      .number_step{
        right: 100px;
      }
    }
    .item-2{
      .block_text{
        margin-left: 20px;
        br{display: block;}
      }
    }
    .item-3{
      .number_step{
        left: 55px;
      }
      img{
        width: 360px;
      }
      .text_wrap{
        margin-left: 0px;
        br{display:block;}
      }
    }
    .item-4{
      .block_text{
        margin-left: 120px;
      }
    }
    .col-5, .col-4, .col-3{
      width: 50%;
      margin: 0;
    }
  }
  #sec_08{
    padding-top: 140px;
    background-repeat: no-repeat;
    background-position: top 165px right 20px;
    background-image: url(../img/sec_08-bg.png);
    .container {
        background: none;
    }
    .header_sm{
      margin-top: 100px;
    }
    .sec_img-1, .glitch_block{
      width: 100%;
    }
    .glitch_block{
      margin-top: 140px;
    }
  }
  #sec_09{
    padding-bottom: 140px;
    .slide{
      padding-left: 120px;
      padding-right: 60px;
      .quotes{display: none}
      img{left: 30px;}
    }
  }
  #sec_10{
    padding-top: 80px;
    [class*='col-']{width: 100%}
    .form_block{
      max-width: 565px;
      margin: 0 auto;
    }
    .timer{
      margin: 40px -20px 60px 0;
      float: right;
    }
    .timer_text_wrap{
      margin-left: 100px;
    }
    .text_block{
      margin-top: 120px;
      float: left;
      width: 280px;
    }
  }
  #sec_11{
    padding-top: 140px;
    .header_sm+.text br{display: block}
    .sec_img-1{
      margin: 200px 0 160px;
    }
    .sec_img-3, .sec_img-1{width:90%}
    .list_item{
      width: 100%;
    }
    .list_item+.list_item{margin-top: 20px;}
    .glitch_wrap{
      margin-top: 70px;
    }
  }
  #sec_12{
    padding-bottom: 140px;
    .slide img{
      width: 100%;
    }
  }
  #sec_13{
    .tel, .mail{
      padding-left: 20px;
      letter-spacing: 0;
      margin-left: -20px;
    }
    .social{margin-left: 12px;}
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .text br {display: none}
  .item--margined{margin-left: 70px;}
  #sec_03{
    a+a{margin-left: 40px}
  }
  #sec_04{
    padding-top: 140px;
    .menu{
      margin-right: 0;
      margin-left: -100px;
      margin-top: 300px;
    }
    .second_row{
      .item_70{
        width: 240px;
      }
    }
    .sec_img-1, .sec_img-2{width: 100%;}
  }
  #sec_05{
    .sec_img-1{width: 100%;}
  }
  #sec_06{
    .visible_items{
      .big_img{display: none}
      .icons{display: block;}
    }
  }
  #sec_07{
    padding-bottom: 140px;
    background-image: url(../img/sec_07-bg_1200.png);
    .item-1{
      .number_step{
        right: 0;
      }
    }
    .item-2{
      .block_text{
        margin-left: -50px;
        br{display: block;}
      }
    }
    .item-3{
      .number_step{
        left: -10px;
      }
      .text_wrap{
        margin-left: -60px;
        br{display:block;}
      }
    }
  }
  #sec_08{
    padding-top: 140px;
    .sec_img-1, .glitch_block{width: 100%}
  }
  #sec_10{
    .file_upload{
      label{
        width: 160px;
        img{width:100%}
      }
      .label_text{
        margin-top: 5px;
      }
    }
  }
  #sec_11{
    padding-top: 140px;
    .sec_img-3, .sec_img-1{width:100%}
    .list_item{
      width: 45%;
    }
    .list_item+.list_item{margin-left: 20px;}
  }
  #sec_12{
    padding-bottom: 140px;
    .slide img{
      width: 100%;
    }
  }
  div[id*="modal_callback"]{
    .file_upload{
      label{
        width: 160px;
        img{width:100%}
      }
      .label_text{
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-height: 760px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  body{color: #777}
  [class*='col-']{width: 100%}
  .text br {display: none}
  .item--margined{margin-left: 0px;}
  [id*='sec_']{padding: 60px 0;}
  #sec_02{
    margin-top: 0px;
    padding-bottom: 140px;
    // .header{margin:0px 0 60px;}
    .sec_img-1{
      width:100%;
      margin-top: 50px;
      max-width: 555px;
    }
    .sec_img-2{
      display: none;
    }
    .item--margined{
      .text br {display: block}
    }
    .item_menu{
      float: right;
      width: 280px;
    }
    .block_text{
      margin-top: 80px;
      width: 160px;
    }
    .item{
      float: left;
      margin-top: 40px;
    }
  }
  #sec_03{
    padding-top: 80px ;
    padding-bottom: 80px ;
    .col-3{width: 30%;}
    .col-12{
      width: 70%;
      margin-top: 20px;
    }
    .header_sm{
      margin-top:0px;
      margin-bottom: 0px;
    }
    a{
      display: block;
      max-width: 110px;
      margin: 0 auto;
      img{
        max-height: 40px;
      }
    }
    .mobile{display: block;}
    .desctop{display: none;}
  }
  #sec_04{
    padding: 90px 0;
    .first_row{
      .header{
        margin-top: 0;
      }
    }

    .glitch_block, .menu{
      display: none;
    }
    .sec_img-1{
      width: 60%;
      max-width: 456px;
    }

    .second_row{
      .header_sm{
        margin-top: 50px;
        br{display:none}
      }
      .header{margin-top: 80px;}
    }
    .sec_img-2{
      width: 100%;
      max-width: 480px;
    }
    .text--purple{
      margin-top: 20px;
    }
  }
  #sec_05{
    background-repeat: no-repeat;
    background-position: top 190px left 115px;
    background-image: url(../img/sec_05-bg.png);
    .header{margin-bottom: 40px;}
    .description{
      display: none;
    }
    .container {
        background: none;
    }
    .item--margined{display: none}
    .sec_img-1{
      display: none;
    }
    .header_second{
      margin-top: 50px;
    }
  }
  #sec_06{
    padding: 20px 0 100px;
    .title{margin-bottom: 40px;}
    .visible_items{
      .big_img{display: none}
      .icons{display: block;}
    }
    .accordion_btn{
      float: left;
    }
  }
  #sec_07{
    padding: 90px 0;
    background-image: none;
    br{display:block}
    .header{margin-bottom: 20px;}
    .desctop{display: none}
    .mobile{display:block}
    .slider_mobile_07{
      margin-top: 90px;
    }
    .item{margin: 0 auto !important;}
    .item-1{
      max-width: 262px;
      .number_step{
        right: initial;
        left: 190px;
      }
    }
    .item-2{
      max-width: 360px;
    }
    .item-3{
      max-width: 412px;
      .text_wrap{
        margin-top: 150px;
      }
    }
    .item-4{
      max-width: 412px;
      .block_text{
        margin-top: 80px;
      }
    }

    .slick-dots{
      bottom: initial;
      top: -60px;
    }
  }
  #sec_08{
    padding: 90px 0;
    background-repeat: no-repeat;
    background-position: top 65px right 20px;
    background-image: url(../img/sec_08-bg.png);
    text-align: center;
    br{display:block}
    .container {
        background: none;
    }
    .header_sm{
      margin-top: 0px;
    }
    .glitch_block, .sec_img-2{
      display: none
    }
  }
  #sec_09{
    padding-bottom: 140px;
    padding-top: 80px;
    .slide{
      padding-left: 120px;
      padding-right: 60px;
      .quotes{display: none}
      img{left: 30px;}
    }
    .col-5{
      text-align: center;
    }
    .slider_testimonial{
      margin-top: 60px;
    }
    .header{margin-top: 0;}
  }
  #sec_10{
    padding-top: 80px;
    text-align: center;
    .form_block{
      max-width: 565px;
      margin: 0 auto;
      padding: 70px 65px 60px;
      text-align: left;
    }
    .timer{
      margin: 40px auto 60px;
    }
    .timer_text_wrap{
      margin-left: 40px;
      text-align: left;
    }
  }
  #sec_11{
    padding-top: 90px;
    .header{
      margin-top: 0;
    }
    .sec_img-1{
      margin: 70px 0 60px;
      width: 90%;
      max-width: 458px;
    }
    .sec_img-3{
      width: 100%;
      max-width: 574px;
    }
    .list_item{
      width: 45%;
    }
    .list_item+.list_item{margin-left: 20px;}
    .glitch_wrap{
      display: none;
    }
    .description{
      margin-top: 60px;
      br{display:none;}
    }
    .header_sm br{display: none}
  }
  #sec_12{
    padding-bottom: 140px;
    .slide img{
      width: 100%;
    }
    .tabs_control{
      a{color: #b7b7b7}
    }
    .tabs{
      margin-top: 60px;
    }
  }
  #sec_13{
    .tel{
      margin: 20px 0;
      display: block;
    }
    .call_btn{
      margin-top: -80px;
    }
    .social{
      margin-top: 20px;
      margin-left: 0
    }
  }


  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 10px;
      margin-left: 0;
    }
  }
  div[id*="modal_callback"]{
    min-width: 510px;
    .md-content{
      padding: 35px;
      background: #fff;
    }
    h2{
      margin: 30px 0;
      line-height: 34px;
    }
    form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%;
    }
    .field{
      max-width: 360px;
      width: 100%;
    }
    .field+.field {
     margin-top: 15px
    }
    .btn{
      margin: 25px auto 0;
    }
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 500px) {
  div[id*="modal_callback"]{
    max-width: 500px;
    min-width: 100%;
    .file_upload{
      text-align: center;
      label{float: none;}
      .label_text{
        float: none;
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  br{display: none !important;}
  #sec_02{
    .item_menu{
      float: none;
      width: 100%;
    }
    .block_text{
      margin-top: 80px;
      width: 100%;
    }
    .item{
      float: none;
      margin-top: 40px;
    }
  }
  #sec_03{
    text-align: center;
    [class*='col-']{width: 100%}
  }
  #sec_04{
    padding: 60px 0;
    .second_row{
      .item_50, .item_70{
        margin: 10px 0 !important;
        width: 100%;
      }
    }
  }
  #sec_07{
    .item-2{
      img{margin-top: 45px;}
    }
    .item-3{
      img{display: none}
      .number_step{
        top: 0;
        left: initial;
        right: 10px;
        margin-bottom: 10px;
      }
      .text_wrap{
        margin-top: 0;
        margin-left: 0px;
      }
    }
    .item-4{
      .number_step{
        top: 190px;
        right: 15px;
      }
      .block_text{
        margin-top: 0;
        margin-left: 110px;
      }
      img{margin-top: 0;}
    }
  }
  #sec_09{
    .slide{
      padding: 50px 40px 70px;
      img{
        position: static;
        margin-bottom: 20px;
      }
    }
  }
  #sec_10{
    .timer{
      width: 296px;
      height: 296px;
      padding: 0;
      .timer_big{
        display: none;
      }
    }
    .form_block{
      padding: 50px 40px;
    }
    .file_upload{
      text-align: center;
      label{float: none;}
      .label_text{
        float: none;
        display: block;
        margin-bottom: 10px;
      }
    }
    .timer_text_wrap{
      margin-top: 30px;
      margin-left: 10px;
      width: 100%;
    }
  }
  #sec_11{
    .list_item{
      width: 100%;
    }
    .list_item+.list_item{
      margin-left: 0;
      margin-top: 20px;
    }
  }
  #sec_12{
    padding-bottom: 40px;
    .header{margin-top: 0;}
    h2:before{display: none}
    .tabs_control{
      margin-bottom: 85px;
      li+li{
        margin-left: 60px;
      }
    }
    [class*='slider_event_']{
      padding-bottom: 40px;
      .slide:before{display:none}
      .slide{
        .text{
          display: block;
          margin-left: 0;
        }
      }
    }
    .slider_control_mu, .slider_control_ha{
      float: left;
      margin-left: 25px;
    }
  }
  #sec_12 [class*='slider_event_'] .slick-next, #sec_12 [class*='slider_event_'] .slick-prev{
    bottom: 5px;
  }
  #sec_13{
    .container{
      width: 300px;
      margin: 0 auto;
    }
    .call_btn{
      float: none;
      margin-top: 30px;
    }
  }
}