body {
  position: relative;
  font: 16px/24px "Gilroy-Light", sans-serif;
  color: #989898;
  background-color: #fff; }

.main_wrap {
  overflow: hidden; }

body.unscroll {
  overflow: hidden; }

.text--title {
  font-family: "Gilroy-ExtraBold", sans-serif; }

.header_main {
  font-size: 80px;
  line-height: 100px;
  letter-spacing: .16em;
  color: #000;
  text-transform: uppercase; }

.header {
  font-size: 72px;
  line-height: 80px;
  color: #000;
  margin-left: -4px; }

.header_sm {
  font-size: 48px;
  line-height: 50px;
  color: #000; }

.description {
  font-size: 36px;
  line-height: 40px;
  color: #000; }

.title {
  color: #000; }

.text--purple {
  color: #7f58e9; }

.list_item li {
  padding-left: 15px;
  position: relative; }
  .list_item li:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 12px;
    left: 0;
    background: url(../img/list.png); }

.item--margined {
  margin-left: 97px; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #7f58e9;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #7f58e9; }

/* BUTTON scrollUP SYLES*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  font-size: 40px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #scrollup svg {
    fill: #848484;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#scrollup:hover svg {
  fill: #7f58e9; }

.hidden {
  height: 0;
  width: 0; }

.bar-long {
  height: 5px;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #7f58e9; }

.btn {
  width: 181px;
  height: 50px;
  background-color: #7f58e9;
  color: #fff;
  font: 14px/20px "Gilroy-ExtraBold", sans-serif;
  letter-spacing: .15em; }

.btn:hover {
  background-color: #a584ff;
  -webkit-box-shadow: 0 12px 27px #cab7ff;
  box-shadow: 0 12px 27px #cab7ff; }

.btn:active {
  background-color: #5f37ca;
  -webkit-box-shadow: 0 12px 27px #cab7ff;
  box-shadow: 0 12px 27px #cab7ff; }

.call_btn {
  width: 181px;
  height: 40px;
  border: 2px solid #f2f2f6;
  font: 16px "Gilroy-ExtraBold", sans-serif;
  letter-spacing: .05em;
  color: #000; }
  .call_btn:hover {
    border: 3px solid #7f58e9;
    color: #7f58e9; }
  .call_btn:active {
    background-color: #5f37ca;
    color: #fff; }

#sec_01 {
  position: relative;
  padding: 35px 0 430px;
  overflow: hidden; }
  #sec_01 .logo {
    margin-top: 4px; }
  #sec_01 .menu {
    float: right;
    line-height: 40px; }
    #sec_01 .menu li {
      display: inline-block; }
    #sec_01 .menu li + li {
      margin-left: 24px; }
    #sec_01 .menu a {
      color: #000000; }
      #sec_01 .menu a:hover {
        color: #7f58e9; }
  #sec_01 .phones_block {
    margin-left: 145px;
    float: right;
    text-align: center;
    width: 181px; }
  #sec_01 .tel {
    color: #000;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .05em; }
    #sec_01 .tel:hover {
      color: #7f58e9; }
  #sec_01 .top {
    margin-bottom: 275px; }
  #sec_01 .underheader {
    font-size: 30px;
    letter-spacing: .32em;
    color: #000;
    margin: 10px 0 80px; }
  #sec_01 .btn {
    margin: 0 auto;
    width: 100%;
    max-width: 365px; }
  #sec_01 .btn_dwn {
    width: 80px;
    margin-top: 205px;
    display: inline-block;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: .32em; }
    #sec_01 .btn_dwn span {
      display: block;
      margin-bottom: 10px;
      -webkit-transition: all .3s;
      transition: all .3s; }
    #sec_01 .btn_dwn img {
      -webkit-transition: all .3s;
      transition: all .3s; }
    #sec_01 .btn_dwn:hover span {
      font-size: 16px; }
    #sec_01 .btn_dwn:hover img {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px); }
  #sec_01 .glitch_wrap {
    position: absolute;
    top: 44px;
    left: 50%;
    width: 1856px;
    height: 1297px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

@-webkit-keyframes img_glitch_main-anim-1 {
  0% {
    clip: rect(69px, 1856px, 728px, 0); }
  1% {
    clip: rect(1155px, 1856px, 1265px, 0); }
  2% {
    clip: rect(1113px, 1856px, 780px, 0); }
  3% {
    clip: rect(798px, 1856px, 380px, 0); }
  4% {
    clip: rect(195px, 1856px, 404px, 0); }
  5% {
    clip: rect(920px, 1856px, 409px, 0); }
  6% {
    clip: rect(207px, 1856px, 116px, 0); }
  7% {
    clip: rect(611px, 1856px, 964px, 0); }
  8% {
    clip: rect(271px, 1856px, 754px, 0); }
  9% {
    clip: rect(57px, 1856px, 288px, 0); }
  10% {
    clip: rect(56px, 1856px, 522px, 0); }
  11% {
    clip: rect(780px, 1856px, 767px, 0); }
  12% {
    clip: rect(1110px, 1856px, 1087px, 0); }
  13% {
    clip: rect(1201px, 1856px, 946px, 0); }
  14% {
    clip: rect(416px, 1856px, 182px, 0); }
  15% {
    clip: rect(158px, 1856px, 1153px, 0); }
  16% {
    clip: rect(197px, 1856px, 1021px, 0); }
  17% {
    clip: rect(877px, 1856px, 857px, 0); }
  18% {
    clip: rect(296px, 1856px, 624px, 0); }
  19% {
    clip: rect(565px, 1856px, 151px, 0); }
  20% {
    clip: rect(722px, 1856px, 912px, 0); }
  21% {
    clip: rect(231px, 1856px, 889px, 0); }
  22% {
    clip: rect(1234px, 1856px, 507px, 0); }
  23% {
    clip: rect(843px, 1856px, 752px, 0); }
  24% {
    clip: rect(67px, 1856px, 751px, 0); }
  25% {
    clip: rect(453px, 1856px, 1218px, 0); }
  26% {
    clip: rect(1043px, 1856px, 990px, 0); }
  27% {
    clip: rect(27px, 1856px, 543px, 0); }
  28% {
    clip: rect(748px, 1856px, 28px, 0); }
  29% {
    clip: rect(75px, 1856px, 368px, 0); }
  30% {
    clip: rect(149px, 1856px, 420px, 0); }
  31% {
    clip: rect(1291px, 1856px, 686px, 0); }
  32% {
    clip: rect(930px, 1856px, 760px, 0); }
  33% {
    clip: rect(1048px, 1856px, 1086px, 0); }
  34% {
    clip: rect(792px, 1856px, 448px, 0); }
  35% {
    clip: rect(1248px, 1856px, 629px, 0); }
  36% {
    clip: rect(620px, 1856px, 708px, 0); }
  37% {
    clip: rect(932px, 1856px, 843px, 0); }
  38% {
    clip: rect(296px, 1856px, 827px, 0); }
  39% {
    clip: rect(1084px, 1856px, 1167px, 0); }
  40% {
    clip: rect(365px, 1856px, 257px, 0); }
  41% {
    clip: rect(43px, 1856px, 836px, 0); }
  42% {
    clip: rect(200px, 1856px, 254px, 0); }
  43% {
    clip: rect(441px, 1856px, 1012px, 0); }
  44% {
    clip: rect(10px, 1856px, 1177px, 0); }
  45% {
    clip: rect(895px, 1856px, 312px, 0); }
  46% {
    clip: rect(115px, 1856px, 396px, 0); }
  47% {
    clip: rect(1235px, 1856px, 1016px, 0); }
  48% {
    clip: rect(1108px, 1856px, 182px, 0); }
  49% {
    clip: rect(297px, 1856px, 910px, 0); }
  50% {
    clip: rect(1011px, 1856px, 487px, 0); }
  51% {
    clip: rect(424px, 1856px, 1261px, 0); }
  52% {
    clip: rect(842px, 1856px, 1130px, 0); }
  53% {
    clip: rect(1000px, 1856px, 674px, 0); }
  54% {
    clip: rect(1213px, 1856px, 1058px, 0); }
  55% {
    clip: rect(1280px, 1856px, 1267px, 0); }
  56% {
    clip: rect(1204px, 1856px, 752px, 0); }
  57% {
    clip: rect(646px, 1856px, 1265px, 0); }
  58% {
    clip: rect(841px, 1856px, 446px, 0); }
  59% {
    clip: rect(430px, 1856px, 685px, 0); }
  60% {
    clip: rect(941px, 1856px, 1084px, 0); }
  61% {
    clip: rect(884px, 1856px, 123px, 0); }
  62% {
    clip: rect(665px, 1856px, 469px, 0); }
  63% {
    clip: rect(90px, 1856px, 1078px, 0); }
  64% {
    clip: rect(507px, 1856px, 1066px, 0); }
  65% {
    clip: rect(332px, 1856px, 136px, 0); }
  66% {
    clip: rect(621px, 1856px, 579px, 0); }
  67% {
    clip: rect(630px, 1856px, 1169px, 0); }
  68% {
    clip: rect(254px, 1856px, 1277px, 0); }
  69% {
    clip: rect(669px, 1856px, 391px, 0); }
  70% {
    clip: rect(874px, 1856px, 842px, 0); }
  71% {
    clip: rect(935px, 1856px, 106px, 0); }
  72% {
    clip: rect(1231px, 1856px, 1020px, 0); }
  73% {
    clip: rect(1282px, 1856px, 1223px, 0); }
  74% {
    clip: rect(236px, 1856px, 1055px, 0); }
  75% {
    clip: rect(987px, 1856px, 1183px, 0); }
  76% {
    clip: rect(54px, 1856px, 749px, 0); }
  77% {
    clip: rect(748px, 1856px, 40px, 0); }
  78% {
    clip: rect(148px, 1856px, 768px, 0); }
  79% {
    clip: rect(646px, 1856px, 666px, 0); }
  80% {
    clip: rect(139px, 1856px, 969px, 0); }
  81% {
    clip: rect(146px, 1856px, 602px, 0); }
  82% {
    clip: rect(1130px, 1856px, 1074px, 0); }
  83% {
    clip: rect(616px, 1856px, 10px, 0); }
  84% {
    clip: rect(387px, 1856px, 1273px, 0); }
  85% {
    clip: rect(644px, 1856px, 595px, 0); }
  86% {
    clip: rect(560px, 1856px, 128px, 0); }
  87% {
    clip: rect(588px, 1856px, 146px, 0); }
  88% {
    clip: rect(471px, 1856px, 1135px, 0); }
  89% {
    clip: rect(838px, 1856px, 192px, 0); }
  90% {
    clip: rect(627px, 1856px, 238px, 0); }
  91% {
    clip: rect(679px, 1856px, 1260px, 0); }
  92% {
    clip: rect(550px, 1856px, 920px, 0); }
  93% {
    clip: rect(326px, 1856px, 325px, 0); }
  94% {
    clip: rect(715px, 1856px, 157px, 0); }
  95% {
    clip: rect(222px, 1856px, 771px, 0); }
  96% {
    clip: rect(220px, 1856px, 681px, 0); }
  97% {
    clip: rect(213px, 1856px, 1087px, 0); }
  98% {
    clip: rect(13px, 1856px, 1177px, 0); }
  99% {
    clip: rect(270px, 1856px, 1197px, 0); }
  100% {
    clip: rect(974px, 1856px, 1182px, 0); } }

@keyframes img_glitch_main-anim-1 {
  0% {
    clip: rect(69px, 1856px, 728px, 0); }
  1% {
    clip: rect(1155px, 1856px, 1265px, 0); }
  2% {
    clip: rect(1113px, 1856px, 780px, 0); }
  3% {
    clip: rect(798px, 1856px, 380px, 0); }
  4% {
    clip: rect(195px, 1856px, 404px, 0); }
  5% {
    clip: rect(920px, 1856px, 409px, 0); }
  6% {
    clip: rect(207px, 1856px, 116px, 0); }
  7% {
    clip: rect(611px, 1856px, 964px, 0); }
  8% {
    clip: rect(271px, 1856px, 754px, 0); }
  9% {
    clip: rect(57px, 1856px, 288px, 0); }
  10% {
    clip: rect(56px, 1856px, 522px, 0); }
  11% {
    clip: rect(780px, 1856px, 767px, 0); }
  12% {
    clip: rect(1110px, 1856px, 1087px, 0); }
  13% {
    clip: rect(1201px, 1856px, 946px, 0); }
  14% {
    clip: rect(416px, 1856px, 182px, 0); }
  15% {
    clip: rect(158px, 1856px, 1153px, 0); }
  16% {
    clip: rect(197px, 1856px, 1021px, 0); }
  17% {
    clip: rect(877px, 1856px, 857px, 0); }
  18% {
    clip: rect(296px, 1856px, 624px, 0); }
  19% {
    clip: rect(565px, 1856px, 151px, 0); }
  20% {
    clip: rect(722px, 1856px, 912px, 0); }
  21% {
    clip: rect(231px, 1856px, 889px, 0); }
  22% {
    clip: rect(1234px, 1856px, 507px, 0); }
  23% {
    clip: rect(843px, 1856px, 752px, 0); }
  24% {
    clip: rect(67px, 1856px, 751px, 0); }
  25% {
    clip: rect(453px, 1856px, 1218px, 0); }
  26% {
    clip: rect(1043px, 1856px, 990px, 0); }
  27% {
    clip: rect(27px, 1856px, 543px, 0); }
  28% {
    clip: rect(748px, 1856px, 28px, 0); }
  29% {
    clip: rect(75px, 1856px, 368px, 0); }
  30% {
    clip: rect(149px, 1856px, 420px, 0); }
  31% {
    clip: rect(1291px, 1856px, 686px, 0); }
  32% {
    clip: rect(930px, 1856px, 760px, 0); }
  33% {
    clip: rect(1048px, 1856px, 1086px, 0); }
  34% {
    clip: rect(792px, 1856px, 448px, 0); }
  35% {
    clip: rect(1248px, 1856px, 629px, 0); }
  36% {
    clip: rect(620px, 1856px, 708px, 0); }
  37% {
    clip: rect(932px, 1856px, 843px, 0); }
  38% {
    clip: rect(296px, 1856px, 827px, 0); }
  39% {
    clip: rect(1084px, 1856px, 1167px, 0); }
  40% {
    clip: rect(365px, 1856px, 257px, 0); }
  41% {
    clip: rect(43px, 1856px, 836px, 0); }
  42% {
    clip: rect(200px, 1856px, 254px, 0); }
  43% {
    clip: rect(441px, 1856px, 1012px, 0); }
  44% {
    clip: rect(10px, 1856px, 1177px, 0); }
  45% {
    clip: rect(895px, 1856px, 312px, 0); }
  46% {
    clip: rect(115px, 1856px, 396px, 0); }
  47% {
    clip: rect(1235px, 1856px, 1016px, 0); }
  48% {
    clip: rect(1108px, 1856px, 182px, 0); }
  49% {
    clip: rect(297px, 1856px, 910px, 0); }
  50% {
    clip: rect(1011px, 1856px, 487px, 0); }
  51% {
    clip: rect(424px, 1856px, 1261px, 0); }
  52% {
    clip: rect(842px, 1856px, 1130px, 0); }
  53% {
    clip: rect(1000px, 1856px, 674px, 0); }
  54% {
    clip: rect(1213px, 1856px, 1058px, 0); }
  55% {
    clip: rect(1280px, 1856px, 1267px, 0); }
  56% {
    clip: rect(1204px, 1856px, 752px, 0); }
  57% {
    clip: rect(646px, 1856px, 1265px, 0); }
  58% {
    clip: rect(841px, 1856px, 446px, 0); }
  59% {
    clip: rect(430px, 1856px, 685px, 0); }
  60% {
    clip: rect(941px, 1856px, 1084px, 0); }
  61% {
    clip: rect(884px, 1856px, 123px, 0); }
  62% {
    clip: rect(665px, 1856px, 469px, 0); }
  63% {
    clip: rect(90px, 1856px, 1078px, 0); }
  64% {
    clip: rect(507px, 1856px, 1066px, 0); }
  65% {
    clip: rect(332px, 1856px, 136px, 0); }
  66% {
    clip: rect(621px, 1856px, 579px, 0); }
  67% {
    clip: rect(630px, 1856px, 1169px, 0); }
  68% {
    clip: rect(254px, 1856px, 1277px, 0); }
  69% {
    clip: rect(669px, 1856px, 391px, 0); }
  70% {
    clip: rect(874px, 1856px, 842px, 0); }
  71% {
    clip: rect(935px, 1856px, 106px, 0); }
  72% {
    clip: rect(1231px, 1856px, 1020px, 0); }
  73% {
    clip: rect(1282px, 1856px, 1223px, 0); }
  74% {
    clip: rect(236px, 1856px, 1055px, 0); }
  75% {
    clip: rect(987px, 1856px, 1183px, 0); }
  76% {
    clip: rect(54px, 1856px, 749px, 0); }
  77% {
    clip: rect(748px, 1856px, 40px, 0); }
  78% {
    clip: rect(148px, 1856px, 768px, 0); }
  79% {
    clip: rect(646px, 1856px, 666px, 0); }
  80% {
    clip: rect(139px, 1856px, 969px, 0); }
  81% {
    clip: rect(146px, 1856px, 602px, 0); }
  82% {
    clip: rect(1130px, 1856px, 1074px, 0); }
  83% {
    clip: rect(616px, 1856px, 10px, 0); }
  84% {
    clip: rect(387px, 1856px, 1273px, 0); }
  85% {
    clip: rect(644px, 1856px, 595px, 0); }
  86% {
    clip: rect(560px, 1856px, 128px, 0); }
  87% {
    clip: rect(588px, 1856px, 146px, 0); }
  88% {
    clip: rect(471px, 1856px, 1135px, 0); }
  89% {
    clip: rect(838px, 1856px, 192px, 0); }
  90% {
    clip: rect(627px, 1856px, 238px, 0); }
  91% {
    clip: rect(679px, 1856px, 1260px, 0); }
  92% {
    clip: rect(550px, 1856px, 920px, 0); }
  93% {
    clip: rect(326px, 1856px, 325px, 0); }
  94% {
    clip: rect(715px, 1856px, 157px, 0); }
  95% {
    clip: rect(222px, 1856px, 771px, 0); }
  96% {
    clip: rect(220px, 1856px, 681px, 0); }
  97% {
    clip: rect(213px, 1856px, 1087px, 0); }
  98% {
    clip: rect(13px, 1856px, 1177px, 0); }
  99% {
    clip: rect(270px, 1856px, 1197px, 0); }
  100% {
    clip: rect(974px, 1856px, 1182px, 0); } }

@-webkit-keyframes img_glitch_main-anim-2 {
  0% {
    clip: rect(1096px, 1856px, 161px, 0); }
  1% {
    clip: rect(85px, 1856px, 113px, 0); }
  2% {
    clip: rect(1087px, 1856px, 547px, 0); }
  3% {
    clip: rect(212px, 1856px, 247px, 0); }
  4% {
    clip: rect(119px, 1856px, 653px, 0); }
  5% {
    clip: rect(189px, 1856px, 519px, 0); }
  6% {
    clip: rect(570px, 1856px, 516px, 0); }
  7% {
    clip: rect(1202px, 1856px, 24px, 0); }
  8% {
    clip: rect(421px, 1856px, 886px, 0); }
  9% {
    clip: rect(599px, 1856px, 517px, 0); }
  10% {
    clip: rect(1037px, 1856px, 1024px, 0); }
  11% {
    clip: rect(385px, 1856px, 658px, 0); }
  12% {
    clip: rect(1078px, 1856px, 689px, 0); }
  13% {
    clip: rect(244px, 1856px, 495px, 0); }
  14% {
    clip: rect(682px, 1856px, 385px, 0); }
  15% {
    clip: rect(742px, 1856px, 1164px, 0); }
  16% {
    clip: rect(355px, 1856px, 332px, 0); }
  17% {
    clip: rect(446px, 1856px, 728px, 0); }
  18% {
    clip: rect(1097px, 1856px, 753px, 0); }
  19% {
    clip: rect(422px, 1856px, 313px, 0); }
  20% {
    clip: rect(45px, 1856px, 1083px, 0); }
  21% {
    clip: rect(738px, 1856px, 119px, 0); }
  22% {
    clip: rect(511px, 1856px, 171px, 0); }
  23% {
    clip: rect(211px, 1856px, 1222px, 0); }
  24% {
    clip: rect(50px, 1856px, 962px, 0); }
  25% {
    clip: rect(33px, 1856px, 499px, 0); }
  26% {
    clip: rect(790px, 1856px, 369px, 0); }
  27% {
    clip: rect(1228px, 1856px, 470px, 0); }
  28% {
    clip: rect(222px, 1856px, 594px, 0); }
  29% {
    clip: rect(1251px, 1856px, 475px, 0); }
  30% {
    clip: rect(803px, 1856px, 921px, 0); }
  31% {
    clip: rect(940px, 1856px, 179px, 0); }
  32% {
    clip: rect(697px, 1856px, 626px, 0); }
  33% {
    clip: rect(974px, 1856px, 780px, 0); }
  34% {
    clip: rect(182px, 1856px, 296px, 0); }
  35% {
    clip: rect(1185px, 1856px, 1191px, 0); }
  36% {
    clip: rect(370px, 1856px, 728px, 0); }
  37% {
    clip: rect(963px, 1856px, 649px, 0); }
  38% {
    clip: rect(620px, 1856px, 227px, 0); }
  39% {
    clip: rect(428px, 1856px, 98px, 0); }
  40% {
    clip: rect(680px, 1856px, 982px, 0); }
  41% {
    clip: rect(891px, 1856px, 434px, 0); }
  42% {
    clip: rect(337px, 1856px, 498px, 0); }
  43% {
    clip: rect(354px, 1856px, 363px, 0); }
  44% {
    clip: rect(968px, 1856px, 688px, 0); }
  45% {
    clip: rect(397px, 1856px, 729px, 0); }
  46% {
    clip: rect(357px, 1856px, 1285px, 0); }
  47% {
    clip: rect(909px, 1856px, 1161px, 0); }
  48% {
    clip: rect(865px, 1856px, 465px, 0); }
  49% {
    clip: rect(61px, 1856px, 964px, 0); }
  50% {
    clip: rect(321px, 1856px, 927px, 0); }
  51% {
    clip: rect(789px, 1856px, 317px, 0); }
  52% {
    clip: rect(277px, 1856px, 1236px, 0); }
  53% {
    clip: rect(348px, 1856px, 319px, 0); }
  54% {
    clip: rect(617px, 1856px, 28px, 0); }
  55% {
    clip: rect(139px, 1856px, 57px, 0); }
  56% {
    clip: rect(1192px, 1856px, 1159px, 0); }
  57% {
    clip: rect(874px, 1856px, 894px, 0); }
  58% {
    clip: rect(45px, 1856px, 36px, 0); }
  59% {
    clip: rect(216px, 1856px, 138px, 0); }
  60% {
    clip: rect(815px, 1856px, 963px, 0); }
  61% {
    clip: rect(340px, 1856px, 113px, 0); }
  62% {
    clip: rect(904px, 1856px, 954px, 0); }
  63% {
    clip: rect(1290px, 1856px, 281px, 0); }
  64% {
    clip: rect(446px, 1856px, 929px, 0); }
  65% {
    clip: rect(389px, 1856px, 916px, 0); }
  66% {
    clip: rect(741px, 1856px, 1269px, 0); }
  67% {
    clip: rect(535px, 1856px, 2px, 0); }
  68% {
    clip: rect(357px, 1856px, 407px, 0); }
  69% {
    clip: rect(929px, 1856px, 73px, 0); }
  70% {
    clip: rect(1257px, 1856px, 474px, 0); }
  71% {
    clip: rect(611px, 1856px, 324px, 0); }
  72% {
    clip: rect(858px, 1856px, 1191px, 0); }
  73% {
    clip: rect(1199px, 1856px, 773px, 0); }
  74% {
    clip: rect(439px, 1856px, 415px, 0); }
  75% {
    clip: rect(524px, 1856px, 672px, 0); }
  76% {
    clip: rect(875px, 1856px, 513px, 0); }
  77% {
    clip: rect(650px, 1856px, 1004px, 0); }
  78% {
    clip: rect(1201px, 1856px, 1265px, 0); }
  79% {
    clip: rect(381px, 1856px, 248px, 0); }
  80% {
    clip: rect(432px, 1856px, 627px, 0); }
  81% {
    clip: rect(73px, 1856px, 798px, 0); }
  82% {
    clip: rect(892px, 1856px, 30px, 0); }
  83% {
    clip: rect(639px, 1856px, 1231px, 0); }
  84% {
    clip: rect(15px, 1856px, 1170px, 0); }
  85% {
    clip: rect(1237px, 1856px, 847px, 0); }
  86% {
    clip: rect(665px, 1856px, 1186px, 0); }
  87% {
    clip: rect(1121px, 1856px, 1039px, 0); }
  88% {
    clip: rect(669px, 1856px, 1022px, 0); }
  89% {
    clip: rect(168px, 1856px, 1063px, 0); }
  90% {
    clip: rect(582px, 1856px, 565px, 0); }
  91% {
    clip: rect(1061px, 1856px, 926px, 0); }
  92% {
    clip: rect(727px, 1856px, 1027px, 0); }
  93% {
    clip: rect(221px, 1856px, 5px, 0); }
  94% {
    clip: rect(615px, 1856px, 444px, 0); }
  95% {
    clip: rect(941px, 1856px, 621px, 0); }
  96% {
    clip: rect(415px, 1856px, 41px, 0); }
  97% {
    clip: rect(18px, 1856px, 261px, 0); }
  98% {
    clip: rect(309px, 1856px, 141px, 0); }
  99% {
    clip: rect(87px, 1856px, 876px, 0); }
  100% {
    clip: rect(832px, 1856px, 287px, 0); } }

@keyframes img_glitch_main-anim-2 {
  0% {
    clip: rect(1096px, 1856px, 161px, 0); }
  1% {
    clip: rect(85px, 1856px, 113px, 0); }
  2% {
    clip: rect(1087px, 1856px, 547px, 0); }
  3% {
    clip: rect(212px, 1856px, 247px, 0); }
  4% {
    clip: rect(119px, 1856px, 653px, 0); }
  5% {
    clip: rect(189px, 1856px, 519px, 0); }
  6% {
    clip: rect(570px, 1856px, 516px, 0); }
  7% {
    clip: rect(1202px, 1856px, 24px, 0); }
  8% {
    clip: rect(421px, 1856px, 886px, 0); }
  9% {
    clip: rect(599px, 1856px, 517px, 0); }
  10% {
    clip: rect(1037px, 1856px, 1024px, 0); }
  11% {
    clip: rect(385px, 1856px, 658px, 0); }
  12% {
    clip: rect(1078px, 1856px, 689px, 0); }
  13% {
    clip: rect(244px, 1856px, 495px, 0); }
  14% {
    clip: rect(682px, 1856px, 385px, 0); }
  15% {
    clip: rect(742px, 1856px, 1164px, 0); }
  16% {
    clip: rect(355px, 1856px, 332px, 0); }
  17% {
    clip: rect(446px, 1856px, 728px, 0); }
  18% {
    clip: rect(1097px, 1856px, 753px, 0); }
  19% {
    clip: rect(422px, 1856px, 313px, 0); }
  20% {
    clip: rect(45px, 1856px, 1083px, 0); }
  21% {
    clip: rect(738px, 1856px, 119px, 0); }
  22% {
    clip: rect(511px, 1856px, 171px, 0); }
  23% {
    clip: rect(211px, 1856px, 1222px, 0); }
  24% {
    clip: rect(50px, 1856px, 962px, 0); }
  25% {
    clip: rect(33px, 1856px, 499px, 0); }
  26% {
    clip: rect(790px, 1856px, 369px, 0); }
  27% {
    clip: rect(1228px, 1856px, 470px, 0); }
  28% {
    clip: rect(222px, 1856px, 594px, 0); }
  29% {
    clip: rect(1251px, 1856px, 475px, 0); }
  30% {
    clip: rect(803px, 1856px, 921px, 0); }
  31% {
    clip: rect(940px, 1856px, 179px, 0); }
  32% {
    clip: rect(697px, 1856px, 626px, 0); }
  33% {
    clip: rect(974px, 1856px, 780px, 0); }
  34% {
    clip: rect(182px, 1856px, 296px, 0); }
  35% {
    clip: rect(1185px, 1856px, 1191px, 0); }
  36% {
    clip: rect(370px, 1856px, 728px, 0); }
  37% {
    clip: rect(963px, 1856px, 649px, 0); }
  38% {
    clip: rect(620px, 1856px, 227px, 0); }
  39% {
    clip: rect(428px, 1856px, 98px, 0); }
  40% {
    clip: rect(680px, 1856px, 982px, 0); }
  41% {
    clip: rect(891px, 1856px, 434px, 0); }
  42% {
    clip: rect(337px, 1856px, 498px, 0); }
  43% {
    clip: rect(354px, 1856px, 363px, 0); }
  44% {
    clip: rect(968px, 1856px, 688px, 0); }
  45% {
    clip: rect(397px, 1856px, 729px, 0); }
  46% {
    clip: rect(357px, 1856px, 1285px, 0); }
  47% {
    clip: rect(909px, 1856px, 1161px, 0); }
  48% {
    clip: rect(865px, 1856px, 465px, 0); }
  49% {
    clip: rect(61px, 1856px, 964px, 0); }
  50% {
    clip: rect(321px, 1856px, 927px, 0); }
  51% {
    clip: rect(789px, 1856px, 317px, 0); }
  52% {
    clip: rect(277px, 1856px, 1236px, 0); }
  53% {
    clip: rect(348px, 1856px, 319px, 0); }
  54% {
    clip: rect(617px, 1856px, 28px, 0); }
  55% {
    clip: rect(139px, 1856px, 57px, 0); }
  56% {
    clip: rect(1192px, 1856px, 1159px, 0); }
  57% {
    clip: rect(874px, 1856px, 894px, 0); }
  58% {
    clip: rect(45px, 1856px, 36px, 0); }
  59% {
    clip: rect(216px, 1856px, 138px, 0); }
  60% {
    clip: rect(815px, 1856px, 963px, 0); }
  61% {
    clip: rect(340px, 1856px, 113px, 0); }
  62% {
    clip: rect(904px, 1856px, 954px, 0); }
  63% {
    clip: rect(1290px, 1856px, 281px, 0); }
  64% {
    clip: rect(446px, 1856px, 929px, 0); }
  65% {
    clip: rect(389px, 1856px, 916px, 0); }
  66% {
    clip: rect(741px, 1856px, 1269px, 0); }
  67% {
    clip: rect(535px, 1856px, 2px, 0); }
  68% {
    clip: rect(357px, 1856px, 407px, 0); }
  69% {
    clip: rect(929px, 1856px, 73px, 0); }
  70% {
    clip: rect(1257px, 1856px, 474px, 0); }
  71% {
    clip: rect(611px, 1856px, 324px, 0); }
  72% {
    clip: rect(858px, 1856px, 1191px, 0); }
  73% {
    clip: rect(1199px, 1856px, 773px, 0); }
  74% {
    clip: rect(439px, 1856px, 415px, 0); }
  75% {
    clip: rect(524px, 1856px, 672px, 0); }
  76% {
    clip: rect(875px, 1856px, 513px, 0); }
  77% {
    clip: rect(650px, 1856px, 1004px, 0); }
  78% {
    clip: rect(1201px, 1856px, 1265px, 0); }
  79% {
    clip: rect(381px, 1856px, 248px, 0); }
  80% {
    clip: rect(432px, 1856px, 627px, 0); }
  81% {
    clip: rect(73px, 1856px, 798px, 0); }
  82% {
    clip: rect(892px, 1856px, 30px, 0); }
  83% {
    clip: rect(639px, 1856px, 1231px, 0); }
  84% {
    clip: rect(15px, 1856px, 1170px, 0); }
  85% {
    clip: rect(1237px, 1856px, 847px, 0); }
  86% {
    clip: rect(665px, 1856px, 1186px, 0); }
  87% {
    clip: rect(1121px, 1856px, 1039px, 0); }
  88% {
    clip: rect(669px, 1856px, 1022px, 0); }
  89% {
    clip: rect(168px, 1856px, 1063px, 0); }
  90% {
    clip: rect(582px, 1856px, 565px, 0); }
  91% {
    clip: rect(1061px, 1856px, 926px, 0); }
  92% {
    clip: rect(727px, 1856px, 1027px, 0); }
  93% {
    clip: rect(221px, 1856px, 5px, 0); }
  94% {
    clip: rect(615px, 1856px, 444px, 0); }
  95% {
    clip: rect(941px, 1856px, 621px, 0); }
  96% {
    clip: rect(415px, 1856px, 41px, 0); }
  97% {
    clip: rect(18px, 1856px, 261px, 0); }
  98% {
    clip: rect(309px, 1856px, 141px, 0); }
  99% {
    clip: rect(87px, 1856px, 876px, 0); }
  100% {
    clip: rect(832px, 1856px, 287px, 0); } }
    #sec_01 .glitch_wrap > img {
      position: absolute;
      top: 0px;
      left: 0px; }
    #sec_01 .glitch_wrap > img:nth-child(2),
    #sec_01 .glitch_wrap > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    #sec_01 .glitch_wrap > img:nth-child(2) {
      left: 10px;
      -webkit-animation: img_glitch_main-anim-1 50s infinite linear alternate-reverse;
      animation: img_glitch_main-anim-1 50s infinite linear alternate-reverse; }
    #sec_01 .glitch_wrap > img:nth-child(3) {
      left: -10px;
      -webkit-animation: img_glitch_main-anim-2 60s infinite linear alternate-reverse;
      animation: img_glitch_main-anim-2 60s infinite linear alternate-reverse; }
    #sec_01 .glitch_wrap img {
      -webkit-animation-play-state: paused !important;
      animation-play-state: paused !important; }
    #sec_01 .glitch_wrap .mobile {
      display: none; }
  #sec_01 .glitch_wrap.animated img {
    -webkit-animation-play-state: running !important;
    animation-play-state: running !important; }

#nav {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 100;
  text-align: center;
  color: #fff;
  overflow: hidden !important;
  -webkit-transition: height .7s, width .7s;
  transition: height .7s, width .7s; }
  #nav #menu {
    z-index: 102; }
  #nav a:hover {
    color: #7f58e9; }
  #nav li {
    width: 100%;
    line-height: 50px;
    height: 50px;
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 15px;
    font-weight: 700; }
    #nav li a {
      color: #000;
      opacity: 0;
      letter-spacing: .02em; }
  #nav li + li {
    margin-top: 10px; }
  #nav .inner {
    margin: 0 auto;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  #nav .call_btn {
    margin: 40px auto 10px; }

#nav.open {
  top: 0;
  position: fixed;
  overflow-y: scroll !important;
  width: 100%;
  height: 602px;
  padding-top: 20px;
  background-color: #fff;
  padding-bottom: 90px; }
  #nav.open li a {
    opacity: 1;
    display: inline-block; }
  #nav.open .inner.open {
    opacity: 1;
    margin-left: 10px; }

#nav .svg {
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#nav .path {
  fill: none;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 30px;
  stroke-linecap: round;
  stroke: #000;
  stroke-dashoffset: 0px; }

path#top,
path#bottom {
  stroke-dasharray: 240px 950px; }

path#middle {
  stroke-dasharray: 240px 240px; }

.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px; }

.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px; }

@media (max-width: 1300px) {
  #sec_01 .glitch_wrap .glitch {
    display: none; }
  #sec_01 .glitch_wrap .mobile {
    display: block; } }

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    font-size: 52px;
    line-height: 52px; }
  .header_sm {
    font-size: 34px;
    line-height: 34px; }
  .description {
    font-size: 30px; }
  #nav {
    display: block; }
  #sec_01 .top .menu, #sec_01 .top .call_btn {
    display: none; } }

@media (max-width: 767px) {
  [class*='col-'] {
    width: 100%; }
  .header_main {
    letter-spacing: .2em;
    font-size: 50px;
    line-height: 56px; }
  .header {
    font-size: 52px;
    line-height: 52px; }
  .header_sm {
    font-size: 34px;
    line-height: 34px; }
  .description {
    font-size: 30px; }
  #nav {
    display: block;
    overflow-y: scroll; }
    #nav .contacts {
      margin-top: 40px; }
      #nav .contacts .link_block {
        display: block;
        margin: 20px auto;
        text-align: center;
        max-width: 180px; }
  #sec_01 {
    background-repeat: no-repeat;
    background-position: top 40px center;
    background-image: url(../img/sec_01-mobile_bg.png);
    padding-bottom: 0px !important;
    padding-top: 20px !important; }
    #sec_01 .top .menu, #sec_01 .top .call_btn {
      display: none; }
    #sec_01 .phones_block {
      margin: 0; }
    #sec_01 .top {
      margin-bottom: 140px; }
      #sec_01 .top .tel {
        margin-right: 50px;
        display: inline-block; }
    #sec_01 .glitch_wrap {
      display: none; }
    #sec_01 .underheader {
      font-size: 18px;
      line-height: 22px; }
    #sec_01 .btn_dwn {
      margin-top: 90px; } }

@media (max-width: 500px) {
  .header {
    font-size: 44px;
    line-height: 52px; }
  .header_sm {
    font-size: 32px;
    line-height: 34px; }
  .description {
    font-size: 28px; }
  #sec_01 .header_main {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: .15em; }
  #sec_01 .underheader {
    letter-spacing: .15em;
    margin-bottom: 50px; } }
