@import url(../libs/niftymodal/component.css);
@import url(../libs/slick/slick.min.css);
#sec_02 {
  padding: 70px 0 190px;
  margin-top: -330px; }
  #sec_02 .header {
    margin-bottom: 35px; }
  #sec_02 .text + .text {
    margin-top: 15px; }
  #sec_02 .sec_img-1 {
    margin-top: 55px; }
  #sec_02 .sec_img-2 {
    float: right;
    margin-left: -100px;
    margin-top: -190px; }
  #sec_02 .block_text {
    margin-top: 60px;
    margin-top: 210px; }
    #sec_02 .block_text .header_sm {
      margin-bottom: 17px; }
  #sec_02 .item_menu {
    margin-top: 118px;
    margin-left: 15px;
    position: relative; }
    #sec_02 .item_menu:before {
      content: "";
      position: absolute;
      width: 128px;
      height: 326px;
      top: -70px;
      left: 20px;
      border: 10px solid #f7f7f7;
      z-index: -1; }
  #sec_02 .menu_li {
    display: block;
    position: relative;
    padding-left: 80px; }
    #sec_02 .menu_li .text_sm {
      font-size: 10px;
      color: #bbb;
      line-height: 14px;
      letter-spacing: .2em; }
    #sec_02 .menu_li .menu_main {
      font-size: 24px;
      color: #000;
      line-height: 28px;
      letter-spacing: .2em;
      -webkit-transition: color .3s;
      transition: color .3s; }
  #sec_02 .menu_li + .menu_li {
    margin-top: 24px; }

@-webkit-keyframes img_glitch_main_sec-02-anim-1 {
  0% {
    clip: rect(4px, 49px, 43px, 0); }
  10% {
    clip: rect(23px, 49px, 15px, 0); }
  20% {
    clip: rect(34px, 49px, 18px, 0); }
  30% {
    clip: rect(14px, 49px, 18px, 0); }
  40% {
    clip: rect(13px, 49px, 22px, 0); }
  50% {
    clip: rect(30px, 49px, 13px, 0); }
  60% {
    clip: rect(11px, 49px, 34px, 0); }
  70% {
    clip: rect(19px, 49px, 23px, 0); }
  80% {
    clip: rect(16px, 49px, 36px, 0); }
  90% {
    clip: rect(32px, 49px, 3px, 0); }
  100% {
    clip: rect(16px, 49px, 37px, 0); } }

@keyframes img_glitch_main_sec-02-anim-1 {
  0% {
    clip: rect(4px, 49px, 43px, 0); }
  10% {
    clip: rect(23px, 49px, 15px, 0); }
  20% {
    clip: rect(34px, 49px, 18px, 0); }
  30% {
    clip: rect(14px, 49px, 18px, 0); }
  40% {
    clip: rect(13px, 49px, 22px, 0); }
  50% {
    clip: rect(30px, 49px, 13px, 0); }
  60% {
    clip: rect(11px, 49px, 34px, 0); }
  70% {
    clip: rect(19px, 49px, 23px, 0); }
  80% {
    clip: rect(16px, 49px, 36px, 0); }
  90% {
    clip: rect(32px, 49px, 3px, 0); }
  100% {
    clip: rect(16px, 49px, 37px, 0); } }

@-webkit-keyframes img_glitch_main_sec-02-anim-2 {
  0% {
    clip: rect(44px, 49px, 3px, 0); }
  10% {
    clip: rect(37px, 49px, 18px, 0); }
  20% {
    clip: rect(32px, 49px, 3px, 0); }
  30% {
    clip: rect(38px, 49px, 40px, 0); }
  40% {
    clip: rect(39px, 49px, 28px, 0); }
  50% {
    clip: rect(40px, 49px, 7px, 0); }
  60% {
    clip: rect(22px, 49px, 38px, 0); }
  70% {
    clip: rect(14px, 49px, 21px, 0); }
  80% {
    clip: rect(13px, 49px, 26px, 0); }
  90% {
    clip: rect(8px, 49px, 28px, 0); }
  100% {
    clip: rect(21px, 49px, 8px, 0); } }

@keyframes img_glitch_main_sec-02-anim-2 {
  0% {
    clip: rect(44px, 49px, 3px, 0); }
  10% {
    clip: rect(37px, 49px, 18px, 0); }
  20% {
    clip: rect(32px, 49px, 3px, 0); }
  30% {
    clip: rect(38px, 49px, 40px, 0); }
  40% {
    clip: rect(39px, 49px, 28px, 0); }
  50% {
    clip: rect(40px, 49px, 7px, 0); }
  60% {
    clip: rect(22px, 49px, 38px, 0); }
  70% {
    clip: rect(14px, 49px, 21px, 0); }
  80% {
    clip: rect(13px, 49px, 26px, 0); }
  90% {
    clip: rect(8px, 49px, 28px, 0); }
  100% {
    clip: rect(21px, 49px, 8px, 0); } }
  #sec_02 .glitch_block-1 > img {
    position: absolute;
    top: 3px;
    left: 0px; }
  #sec_02 .glitch_block-1 > img:nth-child(2),
  #sec_02 .glitch_block-1 > img:nth-child(3) {
    clip: rect(0, 0, 0, 0); }
  #sec_02 .glitch_block-1 > img:nth-child(2) {
    left: 2px;
    -webkit-animation: img_glitch_main_sec-02-anim-1 2s infinite linear alternate-reverse;
    animation: img_glitch_main_sec-02-anim-1 2s infinite linear alternate-reverse; }
  #sec_02 .glitch_block-1 > img:nth-child(3) {
    left: -2px;
    -webkit-animation: img_glitch_main_sec-02-anim-2 3s infinite linear alternate-reverse;
    animation: img_glitch_main_sec-02-anim-2 3s infinite linear alternate-reverse; }

@keyframes img_glitch_main_sec-02-anim-1 {
  0% {
    clip: rect(3px, 43px, 14px, 0); }
  10% {
    clip: rect(27px, 43px, 27px, 0); }
  20% {
    clip: rect(43px, 43px, 19px, 0); }
  30% {
    clip: rect(11px, 43px, 25px, 0); }
  40% {
    clip: rect(13px, 43px, 18px, 0); }
  50% {
    clip: rect(7px, 43px, 8px, 0); }
  60% {
    clip: rect(11px, 43px, 6px, 0); }
  70% {
    clip: rect(14px, 43px, 26px, 0); }
  80% {
    clip: rect(19px, 43px, 34px, 0); }
  90% {
    clip: rect(31px, 43px, 40px, 0); }
  100% {
    clip: rect(10px, 43px, 20px, 0); } }

@keyframes img_glitch_main_sec-02-anim-2 {
  0% {
    clip: rect(25px, 43px, 18px, 0); }
  10% {
    clip: rect(13px, 43px, 11px, 0); }
  20% {
    clip: rect(9px, 43px, 38px, 0); }
  30% {
    clip: rect(38px, 43px, 14px, 0); }
  40% {
    clip: rect(23px, 43px, 31px, 0); }
  50% {
    clip: rect(5px, 43px, 15px, 0); }
  60% {
    clip: rect(17px, 43px, 15px, 0); }
  70% {
    clip: rect(4px, 43px, 15px, 0); }
  80% {
    clip: rect(12px, 43px, 17px, 0); }
  90% {
    clip: rect(13px, 43px, 4px, 0); }
  100% {
    clip: rect(25px, 43px, 27px, 0); } }
  #sec_02 .glitch_block-2 > img {
    position: absolute;
    top: 3px;
    left: 0px; }
  #sec_02 .glitch_block-2 > img:nth-child(2),
  #sec_02 .glitch_block-2 > img:nth-child(3) {
    clip: rect(0, 0, 0, 0); }
  #sec_02 .glitch_block-2 > img:nth-child(2) {
    left: 2px;
    -webkit-animation: img_glitch_main_sec-02-anim-1 2s infinite linear alternate-reverse;
    animation: img_glitch_main_sec-02-anim-1 2s infinite linear alternate-reverse; }
  #sec_02 .glitch_block-2 > img:nth-child(3) {
    left: -2px;
    -webkit-animation: img_glitch_main_sec-02-anim-2 3s infinite linear alternate-reverse;
    animation: img_glitch_main_sec-02-anim-2 3s infinite linear alternate-reverse; }

@keyframes img_glitch_main_sec-02-anim-1 {
  0% {
    clip: rect(20px, 38px, 20px, 0); }
  10% {
    clip: rect(8px, 38px, 24px, 0); }
  20% {
    clip: rect(10px, 38px, 1px, 0); }
  30% {
    clip: rect(22px, 38px, 38px, 0); }
  40% {
    clip: rect(29px, 38px, 22px, 0); }
  50% {
    clip: rect(22px, 38px, 12px, 0); }
  60% {
    clip: rect(35px, 38px, 2px, 0); }
  70% {
    clip: rect(5px, 38px, 10px, 0); }
  80% {
    clip: rect(2px, 38px, 2px, 0); }
  90% {
    clip: rect(20px, 38px, 4px, 0); }
  100% {
    clip: rect(24px, 38px, 8px, 0); } }

@keyframes img_glitch_main_sec-02-anim-2 {
  0% {
    clip: rect(31px, 38px, 22px, 0); }
  10% {
    clip: rect(31px, 38px, 23px, 0); }
  20% {
    clip: rect(36px, 38px, 46px, 0); }
  30% {
    clip: rect(18px, 38px, 43px, 0); }
  40% {
    clip: rect(16px, 38px, 15px, 0); }
  50% {
    clip: rect(29px, 38px, 40px, 0); }
  60% {
    clip: rect(21px, 38px, 34px, 0); }
  70% {
    clip: rect(17px, 38px, 38px, 0); }
  80% {
    clip: rect(26px, 38px, 35px, 0); }
  90% {
    clip: rect(39px, 38px, 4px, 0); }
  100% {
    clip: rect(37px, 38px, 14px, 0); } }
  #sec_02 .glitch_block-3 > img {
    position: absolute;
    top: 3px;
    left: 0px; }
  #sec_02 .glitch_block-3 > img:nth-child(2),
  #sec_02 .glitch_block-3 > img:nth-child(3) {
    clip: rect(0, 0, 0, 0); }
  #sec_02 .glitch_block-3 > img:nth-child(2) {
    left: 2px;
    -webkit-animation: img_glitch_main_sec-02-anim-1 2s infinite linear alternate-reverse;
    animation: img_glitch_main_sec-02-anim-1 2s infinite linear alternate-reverse; }
  #sec_02 .glitch_block-3 > img:nth-child(3) {
    left: -2px;
    -webkit-animation: img_glitch_main_sec-02-anim-2 3s infinite linear alternate-reverse;
    animation: img_glitch_main_sec-02-anim-2 3s infinite linear alternate-reverse; }
  #sec_02 .menu_li:nth-child(1):hover .menu_main {
    color: #d31843; }
  #sec_02 .menu_li:nth-child(2):hover .menu_main {
    color: #015ffd; }
  #sec_02 .menu_li:nth-child(3):hover .menu_main {
    color: #7f58e9; }

#sec_03 {
  padding: 150px 0 140px;
  background-color: #f2f2f6; }
  #sec_03 img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: pointer;
    opacity: 0.2;
    -webkit-transition: opacity .3s, -webkit-filter .3s;
    transition: opacity .3s, -webkit-filter .3s;
    transition: opacity .3s, filter .3s;
    transition: opacity .3s, filter .3s, -webkit-filter .3s; }
    #sec_03 img:hover {
      opacity: 1;
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
  #sec_03 a {
    display: inline-block;
    margin-left: 40px; }
  #sec_03 a + a {
    margin-left: 98px; }
  #sec_03 .mobile {
    display: none; }

#sec_04 {
  padding: 200px 0 100px; }
  #sec_04 .container {
    background-repeat: no-repeat;
    background-position: top 125px left 175px;
    background-image: url(../img/sec_04-bg.png); }
  #sec_04 .first_row .header {
    margin-top: 70px;
    margin-bottom: 20px; }
  #sec_04 .first_row .sec_img-1 {
    margin-top: 50px; }
  #sec_04 .glitch_block {
    position: relative;
    width: 360px;
    height: 350px; }

@-webkit-keyframes img_glitch_main-sec-04-anim-1 {
  0% {
    clip: rect(334px, 360px, 215px, 0); }
  25% {
    clip: rect(277px, 360px, 105px, 0); }
  50% {
    clip: rect(134px, 360px, 14px, 0); }
  75% {
    clip: rect(91px, 360px, 33px, 0); }
  100% {
    clip: rect(88px, 360px, 26px, 0); } }

@keyframes img_glitch_main-sec-04-anim-1 {
  0% {
    clip: rect(334px, 360px, 215px, 0); }
  25% {
    clip: rect(277px, 360px, 105px, 0); }
  50% {
    clip: rect(134px, 360px, 14px, 0); }
  75% {
    clip: rect(91px, 360px, 33px, 0); }
  100% {
    clip: rect(88px, 360px, 26px, 0); } }

@-webkit-keyframes img_glitch_main-sec-04-anim-2 {
  0% {
    clip: rect(18px, 360px, 218px, 0); }
  25% {
    clip: rect(234px, 360px, 283px, 0); }
  50% {
    clip: rect(216px, 360px, 64px, 0); }
  75% {
    clip: rect(334px, 360px, 79px, 0); }
  100% {
    clip: rect(119px, 360px, 120px, 0); } }

@keyframes img_glitch_main-sec-04-anim-2 {
  0% {
    clip: rect(18px, 360px, 218px, 0); }
  25% {
    clip: rect(234px, 360px, 283px, 0); }
  50% {
    clip: rect(216px, 360px, 64px, 0); }
  75% {
    clip: rect(334px, 360px, 79px, 0); }
  100% {
    clip: rect(119px, 360px, 120px, 0); } }
    #sec_04 .glitch_block > img {
      position: absolute;
      top: 3px;
      left: 0px; }
    #sec_04 .glitch_block > img:nth-child(2),
    #sec_04 .glitch_block > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    #sec_04 .glitch_block > img:nth-child(2) {
      left: 2px;
      -webkit-animation: img_glitch_main-sec-04-anim-1 2s infinite linear alternate-reverse;
      animation: img_glitch_main-sec-04-anim-1 2s infinite linear alternate-reverse; }
    #sec_04 .glitch_block > img:nth-child(3) {
      left: -2px;
      -webkit-animation: img_glitch_main-sec-04-anim-2 3s infinite linear alternate-reverse;
      animation: img_glitch_main-sec-04-anim-2 3s infinite linear alternate-reverse; }
  #sec_04 .menu {
    margin-top: 245px;
    margin-right: -30px; }
    #sec_04 .menu li + li {
      margin-top: 25px; }
    #sec_04 .menu a {
      position: relative;
      color: #000;
      display: inline-block;
      font-size: 14px;
      -webkit-transition: all .3s;
      transition: all .3s;
      line-height: 30px;
      letter-spacing: .1em; }
      #sec_04 .menu a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        top: -6px;
        left: 0;
        background: #000;
        -webkit-transition: all .3s;
        transition: all .3s; }
      #sec_04 .menu a:hover {
        font-size: 24px; }
      #sec_04 .menu a:hover:before {
        width: 20px; }
  #sec_04 .second_row .header_sm {
    margin: 130px 0 25px; }
  #sec_04 .second_row .btn {
    margin-top: 25px; }
  #sec_04 .second_row .header {
    margin: -155px 0 27px; }
  #sec_04 .second_row .item_50 {
    vertical-align: top;
    margin-top: 20px;
    display: inline-block;
    width: 160px; }
  #sec_04 .second_row .item_70 {
    vertical-align: top;
    margin-top: 20px;
    display: inline-block;
    width: 250px;
    margin-left: 30px; }
  #sec_04 .second_row .row_wrap + .row_wrap {
    margin-top: 10px; }
  #sec_04 .second_row .sec_img-2 {
    margin-top: 55px; }

#sec_05 {
  padding: 70px 0 100px; }
  #sec_05 .container {
    background-repeat: no-repeat;
    background-position: top 190px left 115px;
    background-image: url(../img/sec_05-bg.png); }
  #sec_05 .sec_img-1 {
    margin: 90px 0 85px; }
  #sec_05 .text--purple {
    margin-bottom: 18px; }
  #sec_05 .description {
    margin: 5px 0 50px;
    line-height: 48px; }
  #sec_05 .list_item {
    display: inline-block;
    vertical-align: top;
    width: 46%; }
    #sec_05 .list_item li + li {
      margin-top: 19px; }
  #sec_05 .header_second {
    margin: 180px 0 18px; }

#sec_06 {
  padding: 95px 0 195px; }
  #sec_06 .accordion_items {
    display: none; }
    #sec_06 .accordion_items img {
      margin: 10px;
      vertical-align: middle; }
  #sec_06 .header {
    margin-bottom: 20px; }
  #sec_06 .accordion_btn {
    float: right;
    color: #000;
    margin-top: 25px;
    letter-spacing: .1em; }
    #sec_06 .accordion_btn span {
      line-height: 30px; }
    #sec_06 .accordion_btn img {
      margin-left: 10px;
      -webkit-transition: all .4s;
      transition: all .4s; }
    #sec_06 .accordion_btn:hover {
      color: #7f58e9; }
  #sec_06 .accordion_btn.opened img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  #sec_06 .icons {
    display: none; }
    #sec_06 .icons img {
      margin: 10px;
      vertical-align: middle; }

#sec_07 {
  padding: 200px 0 190px;
  background-color: #f2f2f6;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/sec_07-bg.png); }
  #sec_07 .mobile {
    display: none; }
  #sec_07 .header_main {
    margin: 60px 0 20px;
    letter-spacing: .2em;
    font-size: 72px;
    line-height: 80px; }
  #sec_07 .underheader {
    letter-spacing: .1em;
    color: #000;
    font-size: 24px;
    line-height: 26px; }
  #sec_07 .item {
    position: relative; }
  #sec_07 .number_step {
    position: absolute; }
  #sec_07 .block_text + .block_text {
    margin-top: 14px; }
  #sec_07 .item-1 img {
    margin-bottom: 25px; }
  #sec_07 .item-1 .number_step {
    top: 149px;
    right: 30px; }
  #sec_07 .item-2 img {
    float: right;
    margin-left: -100px; }
  #sec_07 .item-2 .number_step {
    bottom: -85px;
    left: 50px; }
  #sec_07 .item-3 {
    margin-top: 35px; }
    #sec_07 .item-3 img {
      position: relative;
      z-index: 2;
      margin: -150px -100px 0 -400px;
      float: right; }
    #sec_07 .item-3 .text_wrap {
      position: relative;
      z-index: 3;
      margin-top: 185px; }
    #sec_07 .item-3 .number_step {
      z-index: 1;
      top: -100px;
      left: 58px; }
  #sec_07 .item-4 img {
    margin-right: -200px;
    float: left;
    margin-top: -80px; }
  #sec_07 .item-4 .block_text {
    margin-left: 160px;
    margin-top: 155px; }
  #sec_07 .item-4 .number_step {
    top: -70px;
    right: 205px; }

#sec_08 {
  padding: 200px 0 70px; }
  #sec_08 .container {
    background-repeat: no-repeat;
    background-position: top 65px right 20px;
    background-image: url(../img/sec_08-bg.png); }
  #sec_08 .header_sm {
    margin: 65px 0 15px; }
  #sec_08 .sec_img-2 {
    float: right; }
  #sec_08 .header {
    margin: 40px 0 20px; }
  #sec_08 .glitch_block {
    margin-top: 85px;
    position: relative;
    width: 488px;
    height: 360px; }

@keyframes img_glitch_main-sec-04-anim-1 {
  0% {
    clip: rect(318px, 488px, 37px, 0); }
  25% {
    clip: rect(163px, 488px, 349px, 0); }
  50% {
    clip: rect(8px, 488px, 169px, 0); }
  75% {
    clip: rect(194px, 488px, 282px, 0); }
  100% {
    clip: rect(44px, 488px, 297px, 0); } }

@keyframes img_glitch_main-sec-04-anim-2 {
  0% {
    clip: rect(67px, 488px, 159px, 0); }
  25% {
    clip: rect(119px, 488px, 110px, 0); }
  50% {
    clip: rect(169px, 488px, 12px, 0); }
  75% {
    clip: rect(227px, 488px, 64px, 0); }
  100% {
    clip: rect(24px, 488px, 218px, 0); } }
    #sec_08 .glitch_block > img {
      position: absolute;
      top: 3px;
      left: 0px; }
    #sec_08 .glitch_block > img:nth-child(2),
    #sec_08 .glitch_block > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    #sec_08 .glitch_block > img:nth-child(2) {
      left: 2px;
      -webkit-animation: img_glitch_main-sec-04-anim-1 2s infinite linear alternate-reverse;
      animation: img_glitch_main-sec-04-anim-1 2s infinite linear alternate-reverse; }
    #sec_08 .glitch_block > img:nth-child(3) {
      left: -2px;
      -webkit-animation: img_glitch_main-sec-04-anim-2 3s infinite linear alternate-reverse;
      animation: img_glitch_main-sec-04-anim-2 3s infinite linear alternate-reverse; }

#sec_09 {
  padding: 120px 0 230px; }
  #sec_09 .header {
    margin: 70px 0 20px; }
  #sec_09 .slide {
    background-color: #f2f2f6;
    position: relative;
    padding: 60px 100px 65px 165px; }
    #sec_09 .slide img {
      position: absolute;
      left: 65px;
      z-index: 5; }
    #sec_09 .slide .photo {
      top: 60px;
      width: 70px;
      height: 70px; }
    #sec_09 .slide .quotes {
      bottom: 105px;
      width: 75px;
      height: 63px; }
    #sec_09 .slide .position {
      float: right;
      margin-top: 15px; }
    #sec_09 .slide:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 56px;
      bottom: 0;
      left: 0;
      background: #fff; }
  #sec_09 .slick-dots {
    text-align: left;
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 12px;
    color: #f1f1f1; }
    #sec_09 .slick-dots .slick-active {
      color: #000000; }
  #sec_09 .slick-next, #sec_09 .slick-prev {
    position: absolute;
    top: initial;
    bottom: 20px;
    right: initial;
    z-index: 10; }
  #sec_09 .slick-next {
    left: 60px; }
  #sec_09 .slick-prev {
    left: 25px; }

#sec_10 {
  padding: 100px 0 105px;
  background-color: #f2f2f6; }
  #sec_10 .header {
    margin: 40px 0 20px; }
  #sec_10 .form_block {
    margin-top: 50px;
    -webkit-box-shadow: 0 14px 49px rgba(0, 0, 0, 0.08);
    box-shadow: 0 14px 49px rgba(0, 0, 0, 0.08);
    background-color: #fdfdfd;
    padding: 90px 95px 97px; }
  #sec_10 label {
    opacity: 0.29;
    color: #000000;
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 14px; }
  #sec_10 .field + .field {
    margin-top: 20px; }
  #sec_10 #upload_file {
    display: none; }
  #sec_10 .file_upload {
    margin-top: 32px; }
    #sec_10 .file_upload .label_text {
      margin-top: 10px;
      float: left; }
    #sec_10 .file_upload label {
      cursor: pointer;
      opacity: 1;
      float: right; }
      #sec_10 .file_upload label img {
        -webkit-transition: all .3s;
        transition: all .3s;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
    #sec_10 .file_upload label:hover img {
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); }
    #sec_10 .file_upload label:active img {
      -webkit-box-shadow: 0 1px 1px #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.07);
      box-shadow: 0 1px 1px #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.07); }
  #sec_10 .btn {
    width: 100%;
    margin-top: 30px; }
  #sec_10 .header_sm {
    margin-top: -20px;
    margin-bottom: 20px; }
  #sec_10 .header_sm + .text {
    font-size: 18px; }
  #sec_10 .timer {
    width: 424px;
    height: 424px;
    margin: 25px 0 0 -30px;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 64px; }
    #sec_10 .timer .timer_big {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-animation: rotate_inner 260s infinite linear;
      animation: rotate_inner 260s infinite linear; }
    #sec_10 .timer .timer_inner {
      background-repeat: no-repeat;
      background-position: top center;
      background-image: url(../img/timer_inner.png);
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      width: 296px;
      height: 296px;
      padding: 100px 40px;
      position: relative;
      -webkit-animation: rotate_inner 60s infinite linear;
      animation: rotate_inner 60s infinite linear; }
      #sec_10 .timer .timer_inner:before {
        content: "";
        position: absolute;
        top: -12px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 12px 9px;
        border-color: transparent transparent #000000 transparent; }
    #sec_10 .timer .timer_block {
      -webkit-animation: rotate_inner_opocite 60s infinite linear;
      animation: rotate_inner_opocite 60s infinite linear; }
    #sec_10 .timer .timer_header {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .2em;
      line-height: 18px;
      margin-bottom: 10px; }

@-webkit-keyframes rotate_inner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate_inner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes rotate_inner_opocite {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes rotate_inner_opocite {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

#sec_11 {
  padding: 200px 0 40px; }
  #sec_11 .container {
    background-repeat: no-repeat;
    background-position: top 65px right 20px;
    background-image: url(../img/sec_11-bg.png); }
  #sec_11 .glitch_block {
    position: relative;
    width: 360px;
    height: 290px;
    float: right; }

@-webkit-keyframes img_glitch_main_sec-11-anim-1 {
  0% {
    clip: rect(153px, 360px, 232px, 0); }
  20% {
    clip: rect(184px, 360px, 15px, 0); }
  40% {
    clip: rect(185px, 360px, 210px, 0); }
  60% {
    clip: rect(275px, 360px, 141px, 0); }
  80% {
    clip: rect(231px, 360px, 184px, 0); }
  100% {
    clip: rect(76px, 360px, 54px, 0); } }

@keyframes img_glitch_main_sec-11-anim-1 {
  0% {
    clip: rect(153px, 360px, 232px, 0); }
  20% {
    clip: rect(184px, 360px, 15px, 0); }
  40% {
    clip: rect(185px, 360px, 210px, 0); }
  60% {
    clip: rect(275px, 360px, 141px, 0); }
  80% {
    clip: rect(231px, 360px, 184px, 0); }
  100% {
    clip: rect(76px, 360px, 54px, 0); } }

@-webkit-keyframes img_glitch_main_sec-11-anim-2 {
  0% {
    clip: rect(269px, 360px, 21px, 0); }
  20% {
    clip: rect(132px, 360px, 129px, 0); }
  40% {
    clip: rect(190px, 360px, 192px, 0); }
  60% {
    clip: rect(131px, 360px, 104px, 0); }
  80% {
    clip: rect(168px, 360px, 210px, 0); }
  100% {
    clip: rect(24px, 360px, 267px, 0); } }

@keyframes img_glitch_main_sec-11-anim-2 {
  0% {
    clip: rect(269px, 360px, 21px, 0); }
  20% {
    clip: rect(132px, 360px, 129px, 0); }
  40% {
    clip: rect(190px, 360px, 192px, 0); }
  60% {
    clip: rect(131px, 360px, 104px, 0); }
  80% {
    clip: rect(168px, 360px, 210px, 0); }
  100% {
    clip: rect(24px, 360px, 267px, 0); } }
    #sec_11 .glitch_block > img {
      position: absolute;
      top: 3px;
      left: 0px; }
    #sec_11 .glitch_block > img:nth-child(2),
    #sec_11 .glitch_block > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    #sec_11 .glitch_block > img:nth-child(2) {
      left: 2px;
      -webkit-animation: img_glitch_main_sec-11-anim-1 2s infinite linear alternate-reverse;
      animation: img_glitch_main_sec-11-anim-1 2s infinite linear alternate-reverse; }
    #sec_11 .glitch_block > img:nth-child(3) {
      left: -2px;
      -webkit-animation: img_glitch_main_sec-11-anim-2 3s infinite linear alternate-reverse;
      animation: img_glitch_main_sec-11-anim-2 3s infinite linear alternate-reverse; }
  #sec_11 .header {
    margin: 45px 0 20px; }
  #sec_11 .sec_img-1 {
    margin: 55px 0 90px; }
  #sec_11 .header_sm {
    margin-bottom: 15px; }
  #sec_11 .glitch_wrap {
    margin-bottom: 45px; }
  #sec_11 .description {
    margin-bottom: 25px; }
  #sec_11 .list_item {
    width: 49%;
    vertical-align: top;
    display: inline-block; }
    #sec_11 .list_item .title {
      padding: 0;
      letter-spacing: .0em;
      margin-bottom: 10px; }
      #sec_11 .list_item .title:before {
        display: none; }
  #sec_11 .sec_img-3 {
    margin-top: 70px; }

#sec_12 {
  padding: 75px 0 195px; }
  #sec_12 .header {
    margin: 60px 0 0px; }
    #sec_12 .header:before {
      content: "";
      position: absolute;
      width: 735px;
      height: 396px;
      top: 180px;
      left: -155px;
      background-image: url(../img/sec_12-bg.png);
      z-index: -1; }
  #sec_12 .tabs_control {
    margin-bottom: 40px; }
    #sec_12 .tabs_control li {
      display: inline-block;
      vertical-align: top; }
    #sec_12 .tabs_control li + li {
      margin-left: 70px;
      position: relative; }
      #sec_12 .tabs_control li + li:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 17px;
        top: 3px;
        left: -45px;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url(../img/slash.png); }
    #sec_12 .tabs_control a {
      color: #ededed;
      font-family: "Gilroy-ExtraBold", sans-serif;
      font-size: 14px;
      letter-spacing: .2em;
      cursor: pointer; }
      #sec_12 .tabs_control a svg {
        fill: #ededed;
        -webkit-transition: all .3s;
        transition: all .3s;
        width: 18px;
        margin-right: 8px; }
      #sec_12 .tabs_control a:hover {
        color: #7f58e9; }
        #sec_12 .tabs_control a:hover svg {
          fill: #7f58e9; }
    #sec_12 .tabs_control .active a {
      color: #000; }
      #sec_12 .tabs_control .active a svg {
        fill: #000; }
  #sec_12 .slider_control_mu,
  #sec_12 .slider_control_ha {
    width: 100px;
    text-align: center;
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 16px;
    color: #ededed;
    z-index: 10;
    float: right;
    margin-top: -60px;
    margin-right: 20px; }
    #sec_12 .slider_control_mu .slide,
    #sec_12 .slider_control_ha .slide {
      cursor: pointer;
      -webkit-transition: all .3s;
      transition: all .3s; }
      #sec_12 .slider_control_mu .slide:hover,
      #sec_12 .slider_control_ha .slide:hover {
        color: #7f58e9; }
    #sec_12 .slider_control_mu span,
    #sec_12 .slider_control_ha span {
      width: 20px;
      display: block; }
    #sec_12 .slider_control_mu .slick-prev, #sec_12 .slider_control_mu .slick-next,
    #sec_12 .slider_control_ha .slick-prev,
    #sec_12 .slider_control_ha .slick-next {
      bottom: initial;
      top: 4px;
      z-index: 10; }
    #sec_12 .slider_control_mu .slick-current,
    #sec_12 .slider_control_ha .slick-current {
      color: #000; }
    #sec_12 .slider_control_mu .slick-prev,
    #sec_12 .slider_control_ha .slick-prev {
      left: -20px; }
    #sec_12 .slider_control_mu .slick-next,
    #sec_12 .slider_control_ha .slick-next {
      right: -20px; }
  #sec_12 [class*='slider_event_'] .slide {
    position: relative; }
    #sec_12 [class*='slider_event_'] .slide:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 56px;
      bottom: 55px;
      left: 0;
      background: #fff; }
    #sec_12 [class*='slider_event_'] .slide img {
      margin-bottom: 30px; }
    #sec_12 [class*='slider_event_'] .slide .date {
      display: inline-block; }
    #sec_12 [class*='slider_event_'] .slide .title {
      display: inline-block;
      font-size: 18px; }
    #sec_12 [class*='slider_event_'] .slide .text {
      display: inline-block;
      margin-left: 25px; }
    #sec_12 [class*='slider_event_'] .slide .slide_number {
      float: right;
      font-family: "Gilroy-ExtraBold", sans-serif;
      color: #000; }
  #sec_12 [class*='slider_event_'] .slick-next, #sec_12 [class*='slider_event_'] .slick-prev {
    position: absolute;
    top: initial;
    bottom: 73px;
    right: initial;
    z-index: 10; }
  #sec_12 [class*='slider_event_'] .slick-next {
    left: 60px; }
  #sec_12 [class*='slider_event_'] .slick-prev {
    left: 25px; }

#sec_13 {
  background-color: #f2f2f6;
  padding: 60px 0 45px; }
  #sec_13 .tel {
    color: #000;
    position: relative;
    padding-left: 40px;
    letter-spacing: .06em; }
    #sec_13 .tel svg {
      fill: #7f58e9;
      width: 15px;
      position: absolute;
      left: 0;
      top: 3px; }
    #sec_13 .tel:hover {
      color: #7f58e9; }
  #sec_13 .mail {
    color: #000;
    position: relative;
    padding-left: 40px;
    letter-spacing: .06em; }
    #sec_13 .mail svg {
      fill: #7f58e9;
      width: 15px;
      position: absolute;
      left: 0;
      top: 3px; }
    #sec_13 .mail:hover {
      color: #7f58e9; }
  #sec_13 .call_btn {
    border-color: #fff;
    float: right;
    margin-top: -9px; }
    #sec_13 .call_btn:hover {
      border-color: #7f58e9; }
  #sec_13 .social {
    display: inline-block; }
    #sec_13 .social svg {
      fill: #000;
      width: 18px;
      cursor: pointer;
      -webkit-transition: fill .3s;
      transition: fill .3s; }
    #sec_13 .social a:hover svg {
      fill: #7f58e9; }

footer {
  padding: 15px 0 8px;
  background-color: #202020; }
  footer .politics {
    margin-top: 10px; }
    footer .politics a {
      color: #65666a;
      font-size: 15px; }
    footer .politics a:hover {
      color: #7f58e9; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: 6px;
    margin-left: 0px;
    width: 48px;
    float: right; }
    footer .logo_rezart svg {
      fill: #fff;
      -webkit-transition: fill .3s;
      transition: fill .3s; }
    footer .logo_rezart:hover svg {
      fill: #7f58e9; }

.hidden {
  height: 0;
  width: 0; }

div[id*="modal_callback"] {
  max-width: 500px;
  min-width: 500px; }
  div[id*="modal_callback"] h2 {
    font-size: 29px;
    line-height: 36px;
    margin: 30px 30px 30px; }
  div[id*="modal_callback"] .md-content {
    padding: 40px;
    background: #fff;
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] .form-wrap {
    display: block;
    max-width: 360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 20px; }
  div[id*="modal_callback"] .btn {
    display: block;
    margin: 40px auto 0;
    max-width: 220px;
    width: 100%; }
  div[id*="modal_callback"] label {
    opacity: 0.29;
    color: #000000;
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 14px; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 20px; }
  div[id*="modal_callback"] #upload_file_2 {
    display: none; }
  div[id*="modal_callback"] .file_upload {
    margin-top: 32px; }
    div[id*="modal_callback"] .file_upload .label_text {
      margin-top: 10px;
      float: left; }
    div[id*="modal_callback"] .file_upload label {
      cursor: pointer;
      opacity: 1;
      float: right; }
      div[id*="modal_callback"] .file_upload label img {
        -webkit-transition: all .3s;
        transition: all .3s;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
    div[id*="modal_callback"] .file_upload label:hover img {
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); }
    div[id*="modal_callback"] .file_upload label:active img {
      -webkit-box-shadow: 0 1px 1px #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.07);
      box-shadow: 0 1px 1px #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.07); }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 50px; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 680px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  display: block;
  right: 35px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  line-height: 14px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -4px;
  opacity: 1; }

.btn_close_modal {
  position: absolute;
  right: 15px;
  z-index: 10;
  top: 15px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .btn_close_modal svg {
    width: 40px; }
  .btn_close_modal a {
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .btn_close_modal a svg .a {
      -webkit-transition: all .3s;
      transition: all .3s;
      fill: #d4d4d4; }
  .btn_close_modal a:hover {
    color: #000; }
    .btn_close_modal a:hover svg .a {
      fill: #7f58e9; }

.t_small {
  font-size: 14px; }

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li.slick-active button {
  background: none; }

.slick-dots li button {
  background-color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #000;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 12px;
  line-height: 0;
  outline: medium none;
  padding: 2px;
  width: 12px; }

.slick-next, .slick-prev {
  position: absolute;
  bottom: initial;
  top: 200px;
  background: none;
  width: 14px !important;
  height: 14px !important; }

.slick-next {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 10px;
  margin: 0; }

.slick-prev {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 10px;
  margin: 0; }

.slick-next:hover {
  border-top: 2px solid #7f58e9;
  border-right: 2px solid #7f58e9; }

.slick-prev:hover {
  border-top: 2px solid #7f58e9;
  border-left: 2px solid #7f58e9; }

.slick-slide {
  outline: none; }

.field {
  position: relative;
  display: block; }
  .field input {
    padding: 5px 0 15px;
    width: 100%;
    color: #000;
    background-color: transparent;
    font: 18px/20px "Gilroy-Light", sans-serif; }
  .field textarea {
    padding: 25px 0;
    width: 100%;
    color: #000;
    font: 18px/20px "Gilroy-Light", sans-serif; }

.field:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #f0f0f0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #7f58e9;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

input:active + .bar, input:focus + .bar,
textarea:active + .bar, textarea:focus + .bar {
  width: 100%; }

.field + .field {
  margin-top: 7px; }

#upload_file_2, #upload_file {
  opacity: 0; }

input::-webkit-input-placeholder {
  color: #000;
  font: 16px/24px "Gilroy-ExtraBold", sans-serif; }

input:-moz-placeholder {
  color: #000;
  font: 16px/24px "Gilroy-ExtraBold", sans-serif; }

input::-moz-placeholder {
  color: #000;
  font: 16px/24px "Gilroy-ExtraBold", sans-serif; }

input:-ms-input-placeholder {
  color: #000;
  font: 16px/24px "Gilroy-ExtraBold", sans-serif; }

@media (min-width: 768px) and (max-width: 991px) {
  .text br {
    display: none; }
  .item--margined {
    margin-left: 0px; }
  footer .politics a {
    font-size: 13px; }
  #sec_02 {
    margin-top: -400px;
    padding-bottom: 140px; }
    #sec_02 .header {
      margin: 20px 0 60px; }
    #sec_02 .sec_img-1 {
      width: 100%;
      margin-top: 100px; }
  #sec_03 {
    padding-top: 60px;
    padding-bottom: 60px; }
    #sec_03 .header_sm {
      margin-top: 50px; }
    #sec_03 .col-9 {
      text-align: center; }
    #sec_03 a {
      margin: 10px 30px !important; }
  #sec_04 {
    padding-top: 190px; }
    #sec_04 .header {
      font-size: 52px;
      line-height: 52px; }
    #sec_04 .menu {
      margin-right: 0;
      margin-left: -160px;
      margin-top: 300px; }
    #sec_04 .first_row .header {
      margin-bottom: 60px;
      margin-top: -60px; }
    #sec_04 .first_row .sec_img-1 {
      margin-top: 90px; }
    #sec_04 .second_row .header {
      margin-top: 0px; }
    #sec_04 .second_row .header_sm {
      margin-top: 140px; }
    #sec_04 .second_row .item_70, #sec_04 .second_row .item_50 {
      width: 180px; }
    #sec_04 .second_row .col-7 {
      padding-left: 40px;
      padding-right: 0; }
    #sec_04 .sec_img-1, #sec_04 .sec_img-2 {
      width: 100%; }
  #sec_05 {
    background-repeat: no-repeat;
    background-position: top 190px left 115px;
    background-image: url(../img/sec_05-bg.png); }
    #sec_05 .description {
      line-height: 40px; }
    #sec_05 .container {
      background: none; }
    #sec_05 .sec_img-1 {
      width: 100%;
      margin-bottom: 160px; }
    #sec_05 .header_second {
      margin-top: 50px; }
  #sec_06 {
    padding-bottom: 100px; }
    #sec_06 .visible_items .big_img {
      display: none; }
    #sec_06 .visible_items .icons {
      display: block; }
  #sec_07 {
    padding-bottom: 140px;
    background-image: url(../img/sec_07-bg_1200.png); }
    #sec_07 .item-1 .number_step {
      right: 100px; }
    #sec_07 .item-2 .block_text {
      margin-left: 20px; }
      #sec_07 .item-2 .block_text br {
        display: block; }
    #sec_07 .item-3 .number_step {
      left: 55px; }
    #sec_07 .item-3 img {
      width: 360px; }
    #sec_07 .item-3 .text_wrap {
      margin-left: 0px; }
      #sec_07 .item-3 .text_wrap br {
        display: block; }
    #sec_07 .item-4 .block_text {
      margin-left: 120px; }
    #sec_07 .col-5, #sec_07 .col-4, #sec_07 .col-3 {
      width: 50%;
      margin: 0; }
  #sec_08 {
    padding-top: 140px;
    background-repeat: no-repeat;
    background-position: top 165px right 20px;
    background-image: url(../img/sec_08-bg.png); }
    #sec_08 .container {
      background: none; }
    #sec_08 .header_sm {
      margin-top: 100px; }
    #sec_08 .sec_img-1, #sec_08 .glitch_block {
      width: 100%; }
    #sec_08 .glitch_block {
      margin-top: 140px; }
  #sec_09 {
    padding-bottom: 140px; }
    #sec_09 .slide {
      padding-left: 120px;
      padding-right: 60px; }
      #sec_09 .slide .quotes {
        display: none; }
      #sec_09 .slide img {
        left: 30px; }
  #sec_10 {
    padding-top: 80px; }
    #sec_10 [class*='col-'] {
      width: 100%; }
    #sec_10 .form_block {
      max-width: 565px;
      margin: 0 auto; }
    #sec_10 .timer {
      margin: 40px -20px 60px 0;
      float: right; }
    #sec_10 .timer_text_wrap {
      margin-left: 100px; }
    #sec_10 .text_block {
      margin-top: 120px;
      float: left;
      width: 280px; }
  #sec_11 {
    padding-top: 140px; }
    #sec_11 .header_sm + .text br {
      display: block; }
    #sec_11 .sec_img-1 {
      margin: 200px 0 160px; }
    #sec_11 .sec_img-3, #sec_11 .sec_img-1 {
      width: 90%; }
    #sec_11 .list_item {
      width: 100%; }
    #sec_11 .list_item + .list_item {
      margin-top: 20px; }
    #sec_11 .glitch_wrap {
      margin-top: 70px; }
  #sec_12 {
    padding-bottom: 140px; }
    #sec_12 .slide img {
      width: 100%; }
  #sec_13 .tel, #sec_13 .mail {
    padding-left: 20px;
    letter-spacing: 0;
    margin-left: -20px; }
  #sec_13 .social {
    margin-left: 12px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .text br {
    display: none; }
  .item--margined {
    margin-left: 70px; }
  #sec_03 a + a {
    margin-left: 40px; }
  #sec_04 {
    padding-top: 140px; }
    #sec_04 .menu {
      margin-right: 0;
      margin-left: -100px;
      margin-top: 300px; }
    #sec_04 .second_row .item_70 {
      width: 240px; }
    #sec_04 .sec_img-1, #sec_04 .sec_img-2 {
      width: 100%; }
  #sec_05 .sec_img-1 {
    width: 100%; }
  #sec_06 .visible_items .big_img {
    display: none; }
  #sec_06 .visible_items .icons {
    display: block; }
  #sec_07 {
    padding-bottom: 140px;
    background-image: url(../img/sec_07-bg_1200.png); }
    #sec_07 .item-1 .number_step {
      right: 0; }
    #sec_07 .item-2 .block_text {
      margin-left: -50px; }
      #sec_07 .item-2 .block_text br {
        display: block; }
    #sec_07 .item-3 .number_step {
      left: -10px; }
    #sec_07 .item-3 .text_wrap {
      margin-left: -60px; }
      #sec_07 .item-3 .text_wrap br {
        display: block; }
  #sec_08 {
    padding-top: 140px; }
    #sec_08 .sec_img-1, #sec_08 .glitch_block {
      width: 100%; }
  #sec_10 .file_upload label {
    width: 160px; }
    #sec_10 .file_upload label img {
      width: 100%; }
  #sec_10 .file_upload .label_text {
    margin-top: 5px; }
  #sec_11 {
    padding-top: 140px; }
    #sec_11 .sec_img-3, #sec_11 .sec_img-1 {
      width: 100%; }
    #sec_11 .list_item {
      width: 45%; }
    #sec_11 .list_item + .list_item {
      margin-left: 20px; }
  #sec_12 {
    padding-bottom: 140px; }
    #sec_12 .slide img {
      width: 100%; }
  div[id*="modal_callback"] .file_upload label {
    width: 160px; }
    div[id*="modal_callback"] .file_upload label img {
      width: 100%; }
  div[id*="modal_callback"] .file_upload .label_text {
    margin-top: 5px; } }

@media screen and (max-height: 760px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  body {
    color: #777; }
  [class*='col-'] {
    width: 100%; }
  .text br {
    display: none; }
  .item--margined {
    margin-left: 0px; }
  [id*='sec_'] {
    padding: 60px 0; }
  #sec_02 {
    margin-top: 0px;
    padding-bottom: 140px; }
    #sec_02 .sec_img-1 {
      width: 100%;
      margin-top: 50px;
      max-width: 555px; }
    #sec_02 .sec_img-2 {
      display: none; }
    #sec_02 .item--margined .text br {
      display: block; }
    #sec_02 .item_menu {
      float: right;
      width: 280px; }
    #sec_02 .block_text {
      margin-top: 80px;
      width: 160px; }
    #sec_02 .item {
      float: left;
      margin-top: 40px; }
  #sec_03 {
    padding-top: 80px;
    padding-bottom: 80px; }
    #sec_03 .col-3 {
      width: 30%; }
    #sec_03 .col-12 {
      width: 70%;
      margin-top: 20px; }
    #sec_03 .header_sm {
      margin-top: 0px;
      margin-bottom: 0px; }
    #sec_03 a {
      display: block;
      max-width: 110px;
      margin: 0 auto; }
      #sec_03 a img {
        max-height: 40px; }
    #sec_03 .mobile {
      display: block; }
    #sec_03 .desctop {
      display: none; }
  #sec_04 {
    padding: 90px 0; }
    #sec_04 .first_row .header {
      margin-top: 0; }
    #sec_04 .glitch_block, #sec_04 .menu {
      display: none; }
    #sec_04 .sec_img-1 {
      width: 60%;
      max-width: 456px; }
    #sec_04 .second_row .header_sm {
      margin-top: 50px; }
      #sec_04 .second_row .header_sm br {
        display: none; }
    #sec_04 .second_row .header {
      margin-top: 80px; }
    #sec_04 .sec_img-2 {
      width: 100%;
      max-width: 480px; }
    #sec_04 .text--purple {
      margin-top: 20px; }
  #sec_05 {
    background-repeat: no-repeat;
    background-position: top 190px left 115px;
    background-image: url(../img/sec_05-bg.png); }
    #sec_05 .header {
      margin-bottom: 40px; }
    #sec_05 .description {
      display: none; }
    #sec_05 .container {
      background: none; }
    #sec_05 .item--margined {
      display: none; }
    #sec_05 .sec_img-1 {
      display: none; }
    #sec_05 .header_second {
      margin-top: 50px; }
  #sec_06 {
    padding: 20px 0 100px; }
    #sec_06 .title {
      margin-bottom: 40px; }
    #sec_06 .visible_items .big_img {
      display: none; }
    #sec_06 .visible_items .icons {
      display: block; }
    #sec_06 .accordion_btn {
      float: left; }
  #sec_07 {
    padding: 90px 0;
    background-image: none; }
    #sec_07 br {
      display: block; }
    #sec_07 .header {
      margin-bottom: 20px; }
    #sec_07 .desctop {
      display: none; }
    #sec_07 .mobile {
      display: block; }
    #sec_07 .slider_mobile_07 {
      margin-top: 90px; }
    #sec_07 .item {
      margin: 0 auto !important; }
    #sec_07 .item-1 {
      max-width: 262px; }
      #sec_07 .item-1 .number_step {
        right: initial;
        left: 190px; }
    #sec_07 .item-2 {
      max-width: 360px; }
    #sec_07 .item-3 {
      max-width: 412px; }
      #sec_07 .item-3 .text_wrap {
        margin-top: 150px; }
    #sec_07 .item-4 {
      max-width: 412px; }
      #sec_07 .item-4 .block_text {
        margin-top: 80px; }
    #sec_07 .slick-dots {
      bottom: initial;
      top: -60px; }
  #sec_08 {
    padding: 90px 0;
    background-repeat: no-repeat;
    background-position: top 65px right 20px;
    background-image: url(../img/sec_08-bg.png);
    text-align: center; }
    #sec_08 br {
      display: block; }
    #sec_08 .container {
      background: none; }
    #sec_08 .header_sm {
      margin-top: 0px; }
    #sec_08 .glitch_block, #sec_08 .sec_img-2 {
      display: none; }
  #sec_09 {
    padding-bottom: 140px;
    padding-top: 80px; }
    #sec_09 .slide {
      padding-left: 120px;
      padding-right: 60px; }
      #sec_09 .slide .quotes {
        display: none; }
      #sec_09 .slide img {
        left: 30px; }
    #sec_09 .col-5 {
      text-align: center; }
    #sec_09 .slider_testimonial {
      margin-top: 60px; }
    #sec_09 .header {
      margin-top: 0; }
  #sec_10 {
    padding-top: 80px;
    text-align: center; }
    #sec_10 .form_block {
      max-width: 565px;
      margin: 0 auto;
      padding: 70px 65px 60px;
      text-align: left; }
    #sec_10 .timer {
      margin: 40px auto 60px; }
    #sec_10 .timer_text_wrap {
      margin-left: 40px;
      text-align: left; }
  #sec_11 {
    padding-top: 90px; }
    #sec_11 .header {
      margin-top: 0; }
    #sec_11 .sec_img-1 {
      margin: 70px 0 60px;
      width: 90%;
      max-width: 458px; }
    #sec_11 .sec_img-3 {
      width: 100%;
      max-width: 574px; }
    #sec_11 .list_item {
      width: 45%; }
    #sec_11 .list_item + .list_item {
      margin-left: 20px; }
    #sec_11 .glitch_wrap {
      display: none; }
    #sec_11 .description {
      margin-top: 60px; }
      #sec_11 .description br {
        display: none; }
    #sec_11 .header_sm br {
      display: none; }
  #sec_12 {
    padding-bottom: 140px; }
    #sec_12 .slide img {
      width: 100%; }
    #sec_12 .tabs_control a {
      color: #b7b7b7; }
    #sec_12 .tabs {
      margin-top: 60px; }
  #sec_13 .tel {
    margin: 20px 0;
    display: block; }
  #sec_13 .call_btn {
    margin-top: -80px; }
  #sec_13 .social {
    margin-top: 20px;
    margin-left: 0; }
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 10px;
      margin-left: 0; }
  div[id*="modal_callback"] {
    min-width: 510px; }
    div[id*="modal_callback"] .md-content {
      padding: 35px;
      background: #fff; }
    div[id*="modal_callback"] h2 {
      margin: 30px 0;
      line-height: 34px; }
    div[id*="modal_callback"] form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%; }
    div[id*="modal_callback"] .field {
      max-width: 360px;
      width: 100%; }
    div[id*="modal_callback"] .field + .field {
      margin-top: 15px; }
    div[id*="modal_callback"] .btn {
      margin: 25px auto 0; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }

@media (max-width: 500px) {
  div[id*="modal_callback"] {
    max-width: 500px;
    min-width: 100%; }
    div[id*="modal_callback"] .file_upload {
      text-align: center; }
      div[id*="modal_callback"] .file_upload label {
        float: none; }
      div[id*="modal_callback"] .file_upload .label_text {
        float: none;
        display: block;
        margin-bottom: 10px; }
  br {
    display: none !important; }
  #sec_02 .item_menu {
    float: none;
    width: 100%; }
  #sec_02 .block_text {
    margin-top: 80px;
    width: 100%; }
  #sec_02 .item {
    float: none;
    margin-top: 40px; }
  #sec_03 {
    text-align: center; }
    #sec_03 [class*='col-'] {
      width: 100%; }
  #sec_04 {
    padding: 60px 0; }
    #sec_04 .second_row .item_50, #sec_04 .second_row .item_70 {
      margin: 10px 0 !important;
      width: 100%; }
  #sec_07 .item-2 img {
    margin-top: 45px; }
  #sec_07 .item-3 img {
    display: none; }
  #sec_07 .item-3 .number_step {
    top: 0;
    left: initial;
    right: 10px;
    margin-bottom: 10px; }
  #sec_07 .item-3 .text_wrap {
    margin-top: 0;
    margin-left: 0px; }
  #sec_07 .item-4 .number_step {
    top: 190px;
    right: 15px; }
  #sec_07 .item-4 .block_text {
    margin-top: 0;
    margin-left: 110px; }
  #sec_07 .item-4 img {
    margin-top: 0; }
  #sec_09 .slide {
    padding: 50px 40px 70px; }
    #sec_09 .slide img {
      position: static;
      margin-bottom: 20px; }
  #sec_10 .timer {
    width: 296px;
    height: 296px;
    padding: 0; }
    #sec_10 .timer .timer_big {
      display: none; }
  #sec_10 .form_block {
    padding: 50px 40px; }
  #sec_10 .file_upload {
    text-align: center; }
    #sec_10 .file_upload label {
      float: none; }
    #sec_10 .file_upload .label_text {
      float: none;
      display: block;
      margin-bottom: 10px; }
  #sec_10 .timer_text_wrap {
    margin-top: 30px;
    margin-left: 10px;
    width: 100%; }
  #sec_11 .list_item {
    width: 100%; }
  #sec_11 .list_item + .list_item {
    margin-left: 0;
    margin-top: 20px; }
  #sec_12 {
    padding-bottom: 40px; }
    #sec_12 .header {
      margin-top: 0; }
    #sec_12 h2:before {
      display: none; }
    #sec_12 .tabs_control {
      margin-bottom: 85px; }
      #sec_12 .tabs_control li + li {
        margin-left: 60px; }
    #sec_12 [class*='slider_event_'] {
      padding-bottom: 40px; }
      #sec_12 [class*='slider_event_'] .slide:before {
        display: none; }
      #sec_12 [class*='slider_event_'] .slide .text {
        display: block;
        margin-left: 0; }
    #sec_12 .slider_control_mu, #sec_12 .slider_control_ha {
      float: left;
      margin-left: 25px; }
  #sec_12 [class*='slider_event_'] .slick-next, #sec_12 [class*='slider_event_'] .slick-prev {
    bottom: 5px; }
  #sec_13 .container {
    width: 300px;
    margin: 0 auto; }
  #sec_13 .call_btn {
    float: none;
    margin-top: 30px; } }
