@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 16px/24px $main_font;
	color: $main_text_color;
	background-color: #fff;
}

.main_wrap{
    overflow: hidden;
}

body.unscroll{
	overflow: hidden;
}

.text--title{
    font-family: $bold_font;
}


.header_main{
    font-size: 72px;
    line-height: 100px;
    // letter-spacing: .16em;
    color: $second_color;
    // text-transform: uppercase;
}

.header{
    font-size: 72px;
    line-height: 80px;
    color: $second_color;
    margin-left: -4px;
}

.header_sm{
    font-size: 48px;
    line-height: 50px;
    color: $second_color;
}

.description{
    font-size: 36px;
    line-height: 40px;
    color: $second_color;
}

.title{
    color: $second_color;
}

.text--purple{
    color: $main_color;
}

.item--margined{
    margin-left: 97px;
}

// ==========================

.md-modal.md-show{
    opacity: 1;
}
.md-modal{
    opacity: 0;
}

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}



.hidden{
    height: 0;
    width: 0;
}


.btn{
	width: 260px;
    height: 50px;
	background-color: $main_color;

	color: #fff;
	font: 14px/20px $bold_font;
    letter-spacing: .15em;
}



.btn:hover{
	background-color: #a584ff;
    box-shadow: 0 12px 27px #cab7ff;
}

.btn:active{
	background-color: #5f37ca;
    box-shadow: 0 12px 27px #cab7ff;
}

#sec_01{
  background-repeat: no-repeat;
  background-position: bottom 70px center;
  background-image: url(../img/bg.png);
  position: relative;
  padding: 200px 0 185px;

  min-height: 100vh;
  text-align: center;

  .logo{margin-bottom: 90px;}
  .header_main{
    font-size: 72px;
    margin-bottom: 0px;
  }
  .btn{
    margin: 40px auto 70px;
  }
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 0 15px;
  background-color: #202020;
  .politics{
    margin-top: 13px;
    a{
      color: #65666a;
      font-size: 15px;
    }
    a:hover{color: $main_color;}
    a+a{margin-left: 10px;}
  }
  .logo_rezart{
    margin-top: 3px;
    margin-left: 0px;
    width: 48px;
    // margin-right: 20px;
    float: right;
    svg{
      fill: #fff;
      transition: fill .3s;
    }
    &:hover{
      svg{
        fill: $main_color;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px){
  footer{
    .politics a{
      font-size: 13px;
    }
  }
}


@media screen and (max-height: 760px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  #sec_01{
    padding-top: 100px;
    background-position: top -150px center;
  }

  footer{
    text-align: center;
    [class*='col-']{width: 100%;}
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 10px;
      margin-left: 0;
    }
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 600px) {
  [class*='col-']{width: 100%;}
  #sec_01{
    padding-top: 20px;
    background-position: top -150px center;
    .logo{margin-bottom: 70px;}
    .header_main{
      font-size: 46px;
    }
  }
}